section.block-section.hr-block
	.container
		.block__title.text-uppercase.text-center
			h3 tuyển dụng
		.row
			.col-xl-6.col-md-6
				.box-left
					.box-left__img
						img(src="./assets/images/tuyen-dung/td-1.png", alt="")
			.col-xl-6.col-md-6
				.box-right
					.box-right__content
						.box-right__content__title
							h4 Văn hoá công ty
						.box-right__content__desc
							p Tại Tín Bảo Lan, yếu tố con người luôn được đề cao. Các nhân viên của công ty vừa đáp ứng được chuyên môn nghề nghiệp vừa tôn trọng trong ứng xử và tận tâm, chu đáo trong phục vụ khách hàng. Tín Bảo Lan luôn trân trọng những giá trị của mỗi nhân viên và Tín Bảo Lan cũng là một khối đoàn kết bền vững, từ đó tạo ra sức mạnh tập thể cho cả công ty và cho mỗi nhân viên.
		.block-tabel
			.block__title.text-center
				h4 Vị trí tuyển dụng
			table.table.table-striped.table-hover
				tr.title
					th(scope='col') STT
					th(scope='col') Vị trí ứng tuyển
					th(scope='col') Số lượng
					th(scope='col') Khu vực
					th(scope='col') Thời hạn
				tbody
					tr
						th(scope='row') 1
						td 
							a(href="chi-tiet-tuyen-dung.html") Nhân Viên Kỹ Thuật dịch vụ
						td.text-center 01
						td.text-center TH.HCM
						td.text-center 05/05/2020
					tr
						th(scope='row') 2
						td
							a(href="chi-tiet-tuyen-dung.html") Nhân viên thu mua
						td.text-center 01
						td.text-center TH.HCM
						td.text-center 05/05/2020
					tr
						th(scope='row') 3
						td 
							a(href="chi-tiet-tuyen-dung.html") Trưởng phòng marketing
						td.text-center 01
						td.text-center TH.HCM
						td.text-center 05/05/2020
					tr
						th(scope='row') 4
						td Kế toán viên
						td.text-center 01
						td.text-center TH.HCM
						td.text-center 05/05/2020
					tr
						th(scope='row') 5
						td
							a(href="chi-tiet-tuyen-dung.html") Lập trình viên
						td.text-center 01
						td.text-center TH.HCM
						td.text-center 05/05/2020
					tr
						th(scope='row') 6
						td
							a(href="chi-tiet-tuyen-dung.html") Hành chính văn phòng
						td.text-center 01
						td.text-center TH.HCM
						td.text-center 05/05/2020
					tr
						th(scope='row') 7
						td
							a(href="chi-tiet-tuyen-dung.html") Trưởng phòng kinh doanh
						td.text-center 01
						td.text-center TH.HCM
						td.text-center 05/05/2020
					tr
						th(scope='row') 8
						td
							a(href="chi-tiet-tuyen-dung.html") Nhân Viên  Kỹ Thuật dịch vụ
						td.text-center 01
						td.text-center TH.HCM
						td.text-center 05/05/2020
					tr
						th(scope='row') 9
						td
							a(href="chi-tiet-tuyen-dung.html") Nhân viên thu mua
						td.text-center 01
						td.text-center TH.HCM
						td.text-center 05/05/2020
					tr
						th(scope='row') 10
						td
							a(href="chi-tiet-tuyen-dung.html") Trưởng phòng marketing
						td.text-center 01
						td.text-center TH.HCM
						td.text-center 05/05/2020
			.pages
				.modulepager
					ul.pagination
						li.active
							a(href="#") 1
						li
							a(href="#") 2
						li
							a(href="#") 3

