section.block-section.hr-block
	.container
		.block__title.text-uppercase.text-center
			h3 tuyển dụng
		.row
			.col-xl-6.col-md-6
				.box-left
					.left__img
						img(src="./assets/images/tuyen-dung/td-1.png", alt="")
			.col-xl-6.col-md-6
				.box-right
					.block__title
						h4 Văn hoá công ty
					.right__desc
						p Tại Tín Bảo Lan, yếu tố con người luôn được đề cao. Các nhân viên của công ty vừa đáp ứng được chuyên môn nghề nghiệp vừa tôn trọng trong ứng xử và tận tâm, chu đáo trong phục vụ khách hàng. Tín Bảo Lan luôn trân trọng những giá trị của mỗi nhân viên và Tín Bảo Lan cũng là một khối đoàn kết bền vững, từ đó tạo ra sức mạnh tập thể cho cả công ty và cho mỗi nhân viên.
		.block-tabel
			.block__title.text-center
				h4 Vị trí tuyển dụng
			table
				theads
					tr
						th(scope='col') STT
						th(scope='col') Vị trí ứng tuyển
						th(scope='col') Số lượng
						th(scope='col') Khu vực
						th(scope='col') Thời hạn
				tbody
					tr
						th(scope='row') 1
						td Nhân Viên Kỹ Thuật dịch vụ
						td 01
						td TH.HCM
						td 05/05/2020
					tr
						th(scope='row') 2
						td Nhân viên thu mua
						td 01
						td TH.HCM
						td 05/05/2020
					tr
						th(scope='row') 3
						td Trưởng phòng marketing
						td 01
						td TH.HCM
						td 05/05/2020
					tr
						th(scope='row') 4
						td Kế toán viên
						td 01
						td TH.HCM
						td 05/05/2020
					tr
						th(scope='row') 5
						td Lập trình viên
						td 01
						td TH.HCM
						td 05/05/2020
					tr
						th(scope='row') 6
						td Hành chính văn phòng
						td 01
						td TH.HCM
						td 05/05/2020
					tr
						th(scope='row') 7
						td Trưởng phòng kinh doanh
						td 01
						td TH.HCM
						td 05/05/2020
					tr
						th(scope='row') 8
						td Nhân Viên  Kỹ Thuật dịch vụ
						td 01
						td TH.HCM
						td 05/05/2020
					tr
						th(scope='row') 9
						td Nhân viên thu mua
						td 01
						td TH.HCM
						td 05/05/2020
					tr
						th(scope='row') 10
						td Trưởng phòng marketing
						td 01
						td TH.HCM
						td 05/05/2020
			.pages
				.modulepager
					ul.pagination
						li.active
							a(href="#") 1
						li
							a(href="#") 2
						li
							a(href="#") 3

