footer
	.footer-block
		.container
			.row
				.col-md-3.col-sm-6.col-6.footer-card
					.card__title
						h3 Tin Bao Lan Co.,Ltd
					.card__body
						ul
							li
								span
									i.material-icons location_on
								p 160/47 Bui Dinh Tuy St., Binh Thanh Dist, HCMC
							li
								span
									i.material-icons
										|local_phone
								p (84- 28) 7300 1399
							li
								span
									i.material-icons
										|print
								p (84- 28) 7300 0577
							li
								span
									i.material-icons
										|mail
								p contact@tinbaolan.com
				.col-md-3.col-sm-6.col-6.footer-card
					.card__title
						h3 Hỗ trợ khách hàng
					.card__body
						ul
							li
								a(href="ho-tro-khach-hang.html") Kiểm tra bảo hành
							li
								a(href="ho-tro-khach-hang.html") FAQs
							li
								a(href="ho-tro-khach-hang.html") Hưỡng dẫn đặt hàng
							li
								a(href="ho-tro-khach-hang.html") Chính sách đổi trả hàng
							li
								a(href="ho-tro-khach-hang.html") Chính sách vận chuyển giao hàng
				.col-md-3.col-sm-6.col-6.footer-card
					.card__title
						h3 Liên kết nhanh
					.card__body
						ul
							li
								a(href="gioi-thieu.html") Giới thiệu
							li
								a(href="san-pham.html") Sản phẩm
							li
								a(href="dich-vu.html") Dịch vụ
							li
								a(href="khoa-hoc-IT.html") Khóa học
							li
								a(href="shopping.html") Shopping
							li
								a(href="tin-tuc.html") Tin tức
							li
								a(href="tuyen-dung.html") Tuyển dụng
							li
								a(href="lien-he.html") Liên hệ
				.col-md-3.col-sm-6.col-6.footer-card
					.card__title
						h3 Đăng ký nhận bản tin
					.card__body
						p Nhận thông tin mới nhất và các khuyến mãi từ Công ty TNHH Tín Bảo Lan
					.subscribe
						.subscribefrm
							input.subscribeemail(type="text" placeholder="Nhận email..." name="email")
							button.subscribebutton
								|GỬI
					.card__media
						img(src="./assets/images/home/congthuong.png", alt="")
			.copyright
				.row
					.col-md-6.d-flex.align-items-center
						p 2020 © TÍN BẢO LAN. Tất cả quyền đều được bảo hộ. Thiết kế website bởi Cánh Cam.
					.col-md-6
						ul
							li
								a(href="")
									i.fa.fa-facebook
							li
								a(href="")
									i.fa.fa-youtube-play
							li
								a(href="")
									i.fa.fa-linkedin