footer
	.footer-block
		.container
			.row
				.col-md-3.footer-card
					.card__title
						h3 Tin Bao Lan Co.,Ltd
					.card__body
						ul
							li
								span
									i.material-icons location_on
								p 160/47 Bui Dinh Tuy St., Binh Thanh Dist, HCMC
							li
								span
									i.material-icons
										|local_phone
								p (84- 28) 7300 1399
							li
								span
									i.material-icons
										|print
								p (84- 28) 7300 0577
							li
								span
									i.material-icons
										|mail
								p contact@tinbaolan.com
				.col-md-3.footer-card
					.card__title
						h3 Hỗ trợ khách hàng
					.card__body
						ul
							li
								a(href="") Kiểm tra bảo hành
							li
								a(href="") FAQs
							li
								a(href="") Hưỡng dẫn đặt hàng
							li
								a(href="") Chính sách đổi trả hàng
							li
								a(href="") Chính sách vận chuyển giao hàng
				.col-md-3.footer-card
					.card__title
						h3 Liên kết nhanh
					.card__body
						ul
							li
								a(href="") Giới thiệu
							li
								a(href="") Sản phẩm
							li
								a(href="") Dịch vụ
							li
								a(href="") Khóa học
							li
								a(href="") Shopping
							li
								a(href="") Tin tức
							li
								a(href="") Tuyển dụng
							li
								a(href="") Liên hệ
				.col-md-3.footer-card
					.card__title
						h3 Đăng ký nhận bản tin
					.card__body
						p Nhận thông tin mới nhất và các khuyến mãi từ Công ty TNHH Tín Bảo Lan
						.form-email(action="#")
							.form-group
								input.form-control#email(type="text" placeholder="Nhận email..." name="email")
								a.btn.btn__send(href="")
									|GỬI
					.card__media
						img(src="./assets/images/home/congthuong.png", alt="")
			.copyright
				.row
					.col-md-6.d-flex.align-items-center
						p 2020 © TÍN BẢO LAN. Tất cả quyền đều được bảo hộ. Thiết kế website bởi Cánh Cam.
					.col-md-6
						ul
							li
								a(href="")
									i.fa.fa-facebook
							li
								a(href="")
									i.fa.fa-youtube-play
							li
								a(href="")
									i.fa.fa-linkedin