header
	nav.navbar.navbar-expand-lg
		.container
			.nav-main
				<!-- Logo Tin Bảo Lan -->
				a.navbar-brand(href='index.html')
					img.d-inline-block.align-top(src='./assets/logo.png', alt='')
				<!-- Icon header mobile -->
				.header-icon.mobile.d-flex.align-items-center
					.header__language.dropdown
						button#dropdownMenuButton.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
							a(href="")
								img(src="./assets/icons/vn.png", alt="")
						.dropdown-menu(aria-labelledby='dropdownMenuButton')
							a.dropdown-item(href='#')
								img(src="./assets/icons/en.png", alt="")
							a.dropdown-item(href='#')
								img(src="./assets/icons/cn.png", alt="")
					.search.button-search
						i.fa.fa-search
					.search-form.search-box
						.form-group
							input.form-control(type="text" placeholder="Tìm sản phẩm...")
							button.searchbutton.btn.btn__search
								span.material-icons search
				<!-- End icon header mobile -->

				
				.toggle-menu.mobile

				<!-- Main menu header start -->
				.navbar-collapse.ml-auto
					<!-- Top main menu -->
					ul.nav-top
						li
							.searchbox.form-group
								input.form-control(type="text" placeholder="Tìm sản phẩm...")
								button.searchbutton.btn.btn__search
									span.material-icons search
						li
							a.btn.btn__shopping(href="danh-sach-shopping.html")
								em.fa.fa-cart-plus
								span Shopping
						li
							a.btn.btn__check(href="")
								em.fa.fa-shield
								span Kiểm tra và bảo hành
						li
							.header__language.dropdown
								button#dropdownMenuButton.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
									a(href="")
										img(src="./assets/icons/vn.png", alt="") 
								.dropdown-menu(aria-labelledby='dropdownMenuButton')
									a.dropdown-item(href='#')
										img(src="./assets/icons/en.png", alt="")
									a.dropdown-item(href='#')
										img(src="./assets/icons/cn.png", alt="")
					<!-- Main menu -->
					.main-menu
						div
							ul.navbar-nav
								li.nav-item
									a.nav-link(href='gioi-thieu.html') giới thiệu
										span.submenu-toggle.mobile
											i.fa.fa-angle-down
									ul.nav-item__dropdownmenu
										li
											a.dropdown-item(href='gioi-thieu.html') Tổng quan
										li
											a.dropdown-item(href='tin-tuc.html') Tin tức

								li.nav-item
									a.nav-link(href="dich-vu.html")
										|dịch vụ - giải pháp
										span.submenu-toggle.mobile
											i.fa.fa-angle-down
									ul.nav-item__dropdownmenu
										li
											a.dropdown-item(href='chi-tiet-dich-vu.html') Dịch vụ CNTT
										li
											a.dropdown-item(href='chi-tiet-dich-vu.html') Giải pháp tích hợp hệ thống
										li
											a.dropdown-item(href="chi-tiet-dich-vu.html") Smart factory - Smart city

								li.nav-item.dropdown-mega
									a.nav-link(href="san-pham.html")
										|sản phẩm
										span.submenu-toggle.mobile
											i.fa.fa-angle-down
									ul.nav-item__dropdownmenu.mobile
										-for(i=1; i<14; i++)
											li
												a.dropdown-item(href='san-pham.html') Máy In
									.menu-mega.nav-item__dropdownmenu
										.container
											.row
												-for(i=1; i<14; i++)
													.col-2dot4
														.product-menu
															.product-menu__img
																a(href="san-pham.html")
																	img(src="./assets/images/product/p-"+i+".png", alt="")
															.product-menu__name.text-uppercase
																a(href="san-pham.html") máy in
								
								li.nav-item
										a.nav-link(href="khoa-hoc-IT.html")
											|đào tạo
											span.submenu-toggle.mobile
												i.fa.fa-angle-down
										ul.nav-item__dropdownmenu
											li
												a.dropdown-item(href='khoa-hoc-IT.html') Trung tâm Pearson Vue
											li
												a.dropdown-item(href='khoa-hoc-IT.html') Comptia
											li
												a.dropdown-item(href="khoa-hoc-IT.html") Đào tạo doanh nghiệp

								li.nav-item
									a.nav-link(href="lien-he.html")
										|liên hệ
										span.submenu-toggle.mobile
											i.fa.fa-angle-down
									ul.nav-item__dropdownmenu
										li
											a.dropdown-item(href='tuyen-dung.html') Tuyển dụng
										li
											a.dropdown-item(href='ho-tro-khach-hang.html') Bảo hành - Kỹ thuật
										li
											a.dropdown-item(href="ho-tro-khach-hang.html") Kinh doanh
						.mobile
							ul.nav-top.d-flex.align-item-center
								li.d-flex.align-item-center
									a.btn.btn__shopping(href="danh-sach-shopping.html")
										em.fa.fa-cart-plus
										span Shopping
								li.d-flex.align-item-center
									a.btn.btn__check(href="")
										em.fa.fa-shield
										|Kiểm tra và bảo hành
							.nav-logo__mobile
								ul
									-for(i=1; i<4; i++)
										li
											a(href="")
												img(src="./assets/images/home/logo-"+i+".png", alt="")
				<!-- End main menu header start -->

				.nav-logo
					ul
						-for(i=1; i<4; i++)
							li
								a(href="")
									img(src="./assets/images/home/logo-"+i+".png", alt="")