.block__banner {
	position: relative;
	width: 100%;

	.home-banner {
		z-index: 1;
		width: 100%;

		.banner-main {
			width: 100%;
			display: block;

			.swiper-slide {
				width: 100%;
			}

			.banner__img {
				width: 100%;
				height: 70vh;
				overflow: hidden;
				cursor: pointer;

				@media(max-width: 991.98px) {
					height: 40vh;
					text-align: center;
				}
			}
		}
	}

	.banner__content {
		width: 100%;
		top: 35%;
		left: 0;
		position: absolute;
		z-index: 1;
		display: flex;
		align-items: center;
		.banner__description {
			background-color: rgba($color: $main-color, $alpha: .8);
			width: 500px;
			height: 180px;
			padding: 30px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			margin-left: auto;

			h3 {
				font-size: 34px;
				font-weight: 400;
				font-family: "Barlow";
				color: rgb(255, 255, 255);
				line-height: 1.324;
				text-shadow: 0px 3px 16px rgba(0, 0, 0, 0.2);
			}

			.form-group {
				display: flex;
				align-items: center;

				p {
					color: #fff;
					font-size: 1rem;
					font-weight: 700;
				}

				span {
					color: #88aeca;
					font-size: 1rem;
					font-weight: 700;
				}
			}
		}
		@media(max-width: 991.98px) {
			display: flex;
			align-items: center;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
	
			.banner__description {
				position: relative;
				display: flex;
				justify-content: center;
				height: 100%;
				width: 100%;
				margin-left: 0;
	
				h3 {
					font-size: 20px;
				}
	
				.form-group {
					text-align: center;
	
					.nice-select {
						width: auto;
					}
				}
			}
	
		}
	}
}