.tbl-contact {
	background-image: url('../assets/images/banner/bg-1.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	&__content {
		max-width: 100%;
		padding-left: 105px;
		padding-bottom: 60px;

		@media(max-width: 1024px) {
			padding-left: 0;
			padding-bottom: 0;
		}

		&__infor {
			&__logo {
				width: 110px;
				height: 70px;
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 30px;

				img {
					width: 100%;
					height: 100%;
				}
			}

			&__title>h4 {
				font-size: 18px;
				color: rgb(0, 101, 179);
				font-weight: bold;
				margin-bottom: 20px;
			}

			&__address>ul {
				padding: 0;
				list-style: none;

				li {
					display: flex;
					margin-bottom: 15px;

					span {
						padding-right: 20px;
						font-size: 20px;
						font-family: "Material Icons";
						color: rgb(29, 175, 240);
					}
				}
			}
		}
		.wrap-form > div {
			display: flex;
			flex-wrap: wrap;
			margin: 0 -10px;
			span{
				color: red;
				font-size: 13px;
				font-family: 'Barlow';
				font-weight: normal;
				&::before{
					content: '';
				}
			}
		}
		.box-form{
			display: flex;
			flex-wrap: wrap;
			
			
			.form-group {
				flex: 0 0 50%;
				margin-bottom: 30px;
				padding: 0 10px;

				@media(max-width: 1024px) {
					margin-bottom: 15px;
				}
			}

			.form-group input {
				border: solid 1px rgb(245, 245, 245);
				width: 100%;
				height: 40px;
				padding-left: 15px;
			}

			.form-title {
				-webkit-box-flex: 0;
				-ms-flex: 0 0 100%;
				flex: 0 0 100%;
				padding: 0 10px;
			}

			.qparagraph {
				flex: 0 0 100%;
				padding: 0 10px;
				height: 100px;
				margin-bottom: 30px;

				@media(max-width: 1024px) {
					margin-bottom: 15px;
				}

				textarea {
					border: 1px solid #f5f5f5;
					padding: 5px 20px;
					width: 100%;
					height: 100%;
					color: #333;
					caret-color: #064975;
					font-size: 15px;
				}
			}

			.frm-captcha {
				width: 75%;
				display: flex;
				flex-direction: row-reverse;
				align-items: center;
				justify-content: flex-end;
				margin: 0;
				flex: none;
				padding: 0;float: left;
				.RadCaptcha{
					position: relative;
					width: unset !important;
					span{
						position: absolute;
						bottom: 100%;
						color: red;
					}
				}
				.RadCaptcha > div > div {
					height: 40px;
					display: flex;
					flex-direction: row;
					align-items: center;
					margin: 0;
					img{
						height: 40px !important;
					}
					.rcRefreshImage {
						font-size: 0;
						text-decoration: none;
						&::after {
							content: 'replay';
							font-family: 'Material Icons';
							font-size: 30px;
							color: $main-color;
						}
					}
				}

				.frm-captcha-input {
					.label{
						display: none;
					}
					height: 40px;
					width: calc(100% - 227px);
					display: flex;
					flex-direction: row-reverse;
					align-items: center;
					justify-content: flex-end;

					input {
						margin-bottom: 0;
						height: 100%;
					}
				}

				@media(max-width: 1024px) {
					width: 100%;

					&.frm-captcha-input {
						width: 100%;
						margin-top: 15px;
					}
				}
			}

			.frm-btnwrap {
				width: 25%;
				float: left;
				margin: 0;
				flex: none;
				padding: 0;
				label{
					display: none;
				}
				.frm-btn {
					transition: .3s all ease-in-out;
					background-color: #fff;
					width: 100%;
					height: 40px;
					input{
						font-size: 16px;
						font-family: "Barlow";
						font-weight: bold;
						text-transform: uppercase;
						text-align: center;
						border: solid 1px rgb(229, 229, 229);
						border-radius: 0;
						padding-left: 0;
						color: $main-color;
					}
					&:hover{
						background-color: $main-color;
						color: #fff;
						input{
							color: #fff;
						}
					}
					@media(max-width: 991.98px){
						width: 120px;
						font-size: 14px;
					}
				}

				@media(max-width: 1024px) {
					width: 100%;
					margin-top: 15px;
				}
				.frm-btn-reset{
					display: none;
				}
			}
		}
	}
}


@media(max-width: 991.98px) {

	&__content {
		&__infor {
			margin-bottom: 25px;

			&__address>ul {
				li {
					margin-bottom: 7px;
				}
			}

			&__title>h4 {
				font-size: 18px;
				margin-bottom: 15px;
			}
		}

		&__form {
			.form-group input {
				margin-bottom: 0;
			}
		}
	}
}

.map-wrapper {
	width: 100%;
	height: 63.7vh;

	iframe {
		width: 100%;
		height: 100%;
	}

	@media(max-width: 991.98px) {
		padding: 0;
	}
}