section.block-section.solution-2
	.container
		.block__title.text-center
			h3 Dịch vụ CNTT
		.solution-2__list
			.row
				-for(i=1; i<4; i++)
					.col-lg-4.col-sm-6
						.item
							.item__image
								a(href="chi-tiet-dich-vu.html")
									img(src="./assets/images/serviced/dv-"+i+".png", alt="")
								.item__title
									a(href="chi-tiet-dich-vu.html") Dịch vụ bảo trì (Định kỳ, Gia hạn bảo hành)
							.item__description
								p.lcl.lcl-3 Đội ngũ nhân viên IT của các doanh nghiệp thường phải đối mặt với những thách thức của việc duy trì và xử lý sự cố liên quan đến công nghệ mới, phức tạp và phải thường xuyên đối mặt với những yêu cầu thay đổi để đảm bảo tính sẳn dùng cho hệ thống kinh doanh. Và đồng thời, các doanh nghiệp còn phải đấu tranh để giữ cho các kỹ sư mạng đã được đào tạo và hy vọng sẽ làm giảm tiêu hao nhân lực ở mức tối thiểu...
								a.read-more(href="chi-tiet-dich-vu.html") Xem thêm
				.block__btn.text-center
					a.btn.btn__new(href="") xem thêm
