section.block-section
	.container
		.block__title.text-center
			h3 Smart factory - Smart city
		.smart-list
			.row
				-for(i=10; i<16; i++)
					.col-md-4.col-12
						.item
							.item__image
								a(href="chi-tiet-dich-vu.html")
									img(src="./assets/images/serviced/dv-"+i+".png", alt="")
								.item__title
									a(href="chi-tiet-dich-vu.html") Hệ thống Nx VMS
							.item__description
								p.lcl.lcl-3 Khảo sát, tư vấn và triển khai hệ thống mạng cho doanh nghiệp là thế mạnh của TBL với 13 năm kinh nghiệm. Cung cấp các giải pháp và thiết bị mạng từ hạ tầng Core tới Access. Triển khai đa dạng nhiều mô hình phù hợp với mục đích của khách hàng. Cung cấp các ứng dụng giám sát và quản lý hệ thống, đảm bảo cái nhìn tổng quan và chi tiết nhất cho người quản lý.
								a.read-more(href="chi-tiet-dich-vu.html") Xem thêm
				.block__btn.text-center
					a.btn.btn__new(href="") xem thêm
