section.block-section.tbl-product.wow.fadeInDown(data-wow-delay=".3s")
	.container
		.block__title.text-uppercase.text-center
			h3 máy in
		.block__filter
			h4 BỘ LỌC
			.filter__icon
				i.fa.fa-filter
			ul.nav
				
				li.nav-item
					.form-group
						input#radio1(type='radio', name='radio-group', checked='')
						label(for='radio1') Mới nhất
				li.nav-item
					.form-group
						input#radio2(type='radio', name='radio-group')
						label(for='radio2') Bán chạy nhất
				li.nav-item
					.form-group
						input#radio3(type='radio', name='radio-group')
						label(for='radio3') Giá tăng dần
				li.nav-item
					.form-group
						input#radio4(type='radio', name='radio-group')
						label(for='radio4') Giá giảm dần
		.fillter
			li.nav-item
				.form-group.nice-select(tabindex='0')
					span Thương Hiệu:
					span.current Tất cả
					ul.list
						li.option.selected.focus(data-value='Tất cả')
							a(href="") Tất cả
						li.option(data-value='Thương hiệu 1')
							a(href="") Thương hiệu 1
						li.option(data-value='Thương hiệu 2')
							a(href="") Thương hiệu 2
		.list-product
			.row
				-for(i=1; i<17; i++)
					.col-lg-3.col-md-4.col-sm-6
						.product__item
							.product__image
								a(href="chi-tiet-san-pham.html")
									img(src="./assets/images/product/p-"+i+".png", alt="")
							.product__desc
								.product__name
									a(href="chi-tiet-san-pham.html") Máy in Laser BROTHER HL- L2321D - In đảo mặt tự động
								.product__infor
									.product__price
										p.sale  2.699.000đ
										p.promotion 3.000.000đ
									.icon
										a(href="") 
											span.lnr.lnr-cart
		.pages
			.modulepager
				ul.pagination
					li.active
						a(href="#") 1
					li
						a(href="#") 2
					li
						a(href="#") 3

