.shopping-list{
	padding-top: 0;
	&__content{
		padding-top: 60px;
		.block-product{
			padding-bottom: 40px;
			@media(max-width: 991.98px){
				padding-bottom: 10px;
			}
			.list-product{
				position: relative;
				@media(max-width: 991.98px){
					.product__item>.product__desc{
						padding: 10px;
					}
				}
			}
			.list__title{
				width: 100%;
				padding-bottom: 10px;
				border-bottom: solid 1px rgb(215, 215, 215);
				margin-bottom: 20px;
				h4{
					font-size: 24px;
					font-family: "Barlow";
					color: rgb(2, 103, 177);
					font-weight: bold;
					@media(max-width: 991.98px){
						font-size: 18px;
					}
				}
				a{
					font-size: 14px;
					font-family: "Barlow";
					color: rgb(2, 103, 177);
					display: flex;
					align-items: center;
				}
			}
		}
		@media(max-width: 1025px){
			padding-top: 20px;
		}
	}
}