.shopping-page{
	.block__title{
		padding: 60px 0 40px 0;
		@media(max-width: 991.98px){
			padding: 10px 0;
		}
	}
	.content__sidebar>.block__title{
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 20px 0;
		h5{
			font-size: 30px;
			font-family: "Barlow";
			color: rgb(255, 255, 255);
			font-weight: bold;
			@media(max-width: 991.98px){
				font-size: 18px;
			}
		}
		@media(max-width: 991.98px){
			padding: 10px 0;
		}
	}
	.block__filter>.nav>p{
		font-weight: 700;
		margin-right: 20px;
	}
	.right-box>.block__filter>.nav>.nav-item>.form-group>.nice-select{
		width: 125px;
		&:after {
			color: rgb(102, 102, 102);
		}
		.option{
			padding: .5rem;
		}
	}
	.right-box{
		.list-product{
			.product__item{
				width: 100%;
				.product__image{
					width: 100%;
				}
				.product__desc{
					padding: 15px;
					@media(max-width: 991.98px){
						padding: 10px;
					}
				}
			}
		}
	}
	@media(max-width: 991.98px){
		.left-box{
			.content__sidebar{
				.acc{
					transition: .3s all ease-in-out;
					display: none;
					&.active{
						display: block;
					}
				}
			}
		}
	}
	.acc__mobile{
		display: flex;
		width: 100%;
		padding: 10px 0;
		.read-all{
			flex: 1;
			a{
				text-decoration: none;
			}
		}
		.back{
			flex: 1;
			text-align: right;
			a{
				text-decoration: none;
			}
		}
	}
}