section.block-section.about-5.wow.fadeInDown(data-wow-delay=".3s")
	.container
		.about-5__content
			.block__title.text-center.text-uppercase
				h3 sơ đồ tổ chưc
			.chart-box
				img(src="./assets/images/about/chart.png", alt="")