section.block-section.about-6
	.container
		.block__title.text-center.text-uppercase
			h3 chứng nhận - giải thưởng
		.block-prize
			.swiper-container
				.swiper-wrapper
					-for(i=1; i<5; i++)
						.swiper-slide
							img(src="./assets/images/about/chung-chi-"+i+".png", alt="")
			.swiper-button-next
			.swiper-button-prev