section.block-section.about-2
	.container-fluid
		.row
			.col-lg-6.col-12.box-left
				.block__img
					img(src="./assets/images/home/home2-video.png", alt="")
			.col-lg-6.col-12.right-box
				.block__content
					.block__title
						h3 về tín bảo lan
					.block__description.block__description-fontsize
						p Công ty TNHH Tín Bảo Lan, được thành lập vào ngày, 23/02/2007 Giấy chứng nhận đăng ký kinh doanh và mã số thuế: 0304876381 do Sở Kế hoạch và Đầu tư TP Hồ Chí Minh cấp. Chúng tôi là một công ty SI, tập trung vào các sản phẩm & dịch vụ sau:
						ul
							li
								p Thiết bị phần cứng: ASUS, ACER, HPE, DELL, LENOVO, IBM, CISCO, APC, EMERSON
							li
								p Phần mềm: MICROSOFT, NX, AMAZING THOR, VAXTOR, RHINO, ANTIVIRUS, AUTODESK, ERP SYSTEM…
							li
								p Giải pháp: Cloud system, VMware Virtualization, Citrix Virtualization and Server systems, Backup, Networking & Camera, Telephone, PA system, VDI system, Plate recognition...


