section.block-section.hr-detail
	.container
		.hr-detail__content
			.row
				.col-lg-8.col-md-12.col-12
					.box-left
						.box-left__title
							h4 Nhân viên kỹ thuật dịch vụ
						.box-left__timeline
							.time
								p 05.05.2020
							.icon-social
								ul
									li
										a(href="")
											i.fa.fa-facebook
									li
										a(href="")
											i.fa.fa-twitter
						.box-left__content
							.box-left__content__list
								.box-left__content__list__title
									span.icon
										img(src="./assets/icons/phucloi.png", alt="")
									h5 Phúc lợi
								.row
									.box-left__content__list__left.col-md-6.col-6
											ul.pl-0
												li.d-play-none
													p.d-flex.align-items-center
														span.material-icons
															| money
														|Phụ cấp
												li.d-play-none
													p.d-flex.align-items-center
														span.material-icons
															| check_box
														|BHXH
												li.d-play-none
													p.d-flex.align-items-center
														span.material-icons
															| pages
														| Nghỉ phép
												li.d-play-none
													p.d-flex.align-items-center
															span.material-icons
																| flight
															|Du lịch
												li.d-play-none
													p.d-flex.align-items-center
														span.material-icons
															| attach_money
														|Thưởng
									.box-left__content__list__right.col-md-6.col-6
										ul.pl-0
											li.d-play-none
												p.d-flex.align-items-center 
													span.material-icons
														| accessibility
													|Đồng phục
											li.d-play-none
												p.d-flex.align-items-center
													span.material-icons
															| supervisor_account
													|Đào tạo
											li.d-play-none
												p.d-flex.align-items-center 
													span.material-icons
															| call_made
													|Tăng lương
											li.d-play-none
												p.d-flex.align-items-center
													span.material-icons
															| settings_applications
													|Thiết bị, dụng cụ
							.box-left__content__list
								.box-left__content__list__title
									span.icon
										img(src="./assets/icons/tomtat.png", alt="")
									h5 Tóm tắt công việc
								ul
									li
										p Tiếp nhận và kiểm tra thông tin
									li
										p Bảo trì, lắp ráp, SCMMTB
									li
										p Các công việc khác theo yêu cầu cấp trên.
							.box-left__content__list
								.box-left__content__list__title
									span.icon
										img(src="./assets/icons/mota.png", alt="")
									h5 Mô tả công việc
								ul
									li
										p Tuân thủ pháp luật, chấp hành các quy định của Nhà nước, các quy định trong hệ thống tổ chức quản lý và hoạt động kinh doanh của công ty
									li
										p Tôn trọng và chấp hành nghiêm chỉnh mệnh lệnh của cấp trên.
									li
										p Hoàn thành tốt các công việc theo đúng cam kết mục tiêu.
							.box-left__content__list
								.box-left__content__list__title
									span.icon
										img(src="./assets/icons/mission.png", alt="")
									h5 Nhiệm vụ - Trách nhiệm
								ul
									li
										p Tối ưu tốc độ hoạt động của máy tính: Kiểm tra hoạt động của máy tính, dọn dẹp ổ đĩa, loại bỏ các trình ko sử dụng, khắc phục sự cố mạng, cập nhật các chương trình virus, quét virus định kỳ
									li
										p Backup dữ liệu định kỳ cho hệ thống máy chủ, kiểm tra kết nối mạng, backup dữ liệu định kỳ cho hệ thống máy chủ, chặn, lọc các phần mềm, các website theo yêu cầu khách hàng
									li
										p Kiểm tra phần mềm và cước phí tổng đài
										
									li
										p Khắc phục sự cố phần mềm và kiểm tra thiết bị backup tổng đài khi mất điện
									li
										p Kiểm tra kết nối giữa máy in và máy tính, khắc phục sự cố phần mềm và lỗi kỹ thuật
									li
										p Kiểm tra và cài đặt máy chấm công, kiểm soát cửa: hướng dẫn sử dụng, khắc phục lỗi, kết nối, thêm nhân viên
									li
										p Mạng: Kiểm tra hệ thống mạng của khách hàng, khắc phục các sự cố liên quan về mạng nội bộ, hỗ trợ cấu hình cài đặt cơ bản.
									li
										p Báo cáo công việc cho cấp quản lý
									li
										p Họp phòng ban
									li
										p Công việc khác
									li
										p Tuân thủ pháp luật, chấp hành các quy định của Nhà nước, các quy định trong hệ thống tổ chức quản lý và hoạt động kinh doanh của công ty
									li
										p Tôn trọng và chấp hành nghiêm chỉnh mệnh lệnh của cấp trên.
									li
										p Hoàn thành tốt các công việc theo đúng cam kết mục tiêu.
							.box-left__content__list
								.box-left__content__list__title
									span.icon
										img(src="./assets/icons/yeucau.png", alt="")
									h5 Yêu cầu
								h6 Kỹ năng
								ul
									li
										p Kỹ năng kiểm tra giám sát
									li
										p Kỹ năng giao tiếp
									li
										p Kỹ năng xử lý tình huống
									li
										p Sửa chữa MMTB
									li
										p Kỹ năng lập kế hoạch báo cáo
									li
										p Kỹ năng thu thập phân tích xử lý thông tin
									li
										p Kỹ năng tin học VP
								h6 Kiến thức & chuyên môn
								ul
									li
										p Trình độ văn hóa: Cao đẳng trở lên 
									li
										p Chuyên ngành: Công nghệ thông tin 
									li
										p Kiến thức: Kiến thức IT, kiến thức sản phẩm, hiểu biết thương hiệu máy tính, kiến thức viễn thông
									li
										p Kinh nghiệm: 1 năm kinh nghiệm

				.col-lg-4.col-md-12.col-12
					.box-right
						.box-right__btn
							a.btn.btn__new(href="") ứng tuyển ngay
							a.btn.btn__new(href="") tải form ứng tuyển
						.box-right__content
							.box-right__content__list
								.box-left__content__list__title
									span.icon
										img(src="./assets/icons/thontin.png", alt="")
									h5 Thông tin tuyển dụng
								ul
									li
										p Vị trí
										span NV Kỹ thuật dịch vụ
									li
										p Ngành nghề
										span Công nghệ thông tin
									li
										p Nơi làm việc
										span TP.HCM
									li
										p Loại hình
										span Fulltime
									li
										p Cấp bậc
										span Nhân viên
									li
										p Kinh nghiệm
										span 1 năm
									li
										p Hạn nộp hồ sơ
										span 05.05.2020
							.box-right__content__list
								.box-left__content__list__title
									span.icon
										img(src="./assets/icons/vitrikhac.png", alt="")
									h5 Vị trí khác
								.box-right__content__list__job-more
									ul
										li
											p 05.05.2020
											a(href="chi-tiet-tuyen-dung.html") Nhân viên thu mua
											p Tp.Hồ Chí Minh
										li
											p 05.05.2020
											a(href="chi-tiet-tuyen-dung.html") Trưởng phòng marketing
											p Tp.Hồ Chí Minh
										li
											p 05.05.2020
											a(href="chi-tiet-tuyen-dung.html") Kế toán viên
											p Tp.Hồ Chí Minh
										li
											p 05.05.2020
											a(href="chi-tiet-tuyen-dung.html") Lập trình viên
											p Tp.Hồ Chí Minh
										li
											p 05.05.2020
											a(href="chi-tiet-tuyen-dung.html") Hành chính văn phòng
											p Tp.Hồ Chí Minh

