section.block-section.about-2.tbl-detail-edu1
	.container-fluid
		.pearson-about
			.row
				.col-lg-6.col-12.box-left
					.block__img
						img(src="./assets/images/education/edu-ct-1.png", alt="")
				.col-lg-6.col-12.right-box
					.block__content
						.block__title.text-uppercase
							h3 Trung tâm Pearson Vue
						.block__description.block__description-fontsize
							p Pearson VUE là tập đoàn giáo dục sở hữu hệ thống thi chứng chỉ quốc tế hiện đại, và uy tín nhất trên thế giới ở 175 quốc gia.
							p Từ tháng 11/2019, Công ty Tín Bảo Lan trở thành đối tác ủy quyền của Pearson VUE được phép tổ chức dịch vụ thi chứng chỉ quốc tế của các hãng thi trong hệ thống Pearson VUE tại Việt Nam.
							p Hiện nay, Pearson VUE – Tin Bao Lan Test Center có thể tổ chức các bài thi cấp chứng chỉ của hầu hết các hãng công nghệ lớn trên thế giới như: VMware, Microsoft, Cisco, EMC, Juniper, SAP, IBM, HP, Oracle, SUN, CheckPoint, SonicWall…
