section.block-section.mb-0
	.admissions-contact
		.block__title.text-center.text-uppercase
			h3 liên hệ
		.container
			.row
				.col-md-6
					.__content
						.__title
							h3 Địa chỉ
						.__address
							ul
								li
									span
										i.material-icons location_city
									p Trung tâm khảo thí quốc tế Pearson VUE – Tín Bảo Lan (Site ID: 83585)
								li
									span
										i.material-icons
											|location_on
									p 160/47 Bui Dinh tuy St., Binh Thanh Dist., HCMC
				.col-md-6
					.__content
						.__title
							h3 Liên hệ với chúng tôi
						.__address
							ul
								li
									span
										i.material-icons local_post_office
									p contact@tinbaolan.com
								li
									span
										i.material-icons
											|local_phone
									p (84- 28) 7300 1399
								li
									span
										i.material-icons
											|local_printshop
									p (84- 28) 7300 0577
