section.block-section.admissions-bg.mb-0
	.container
		.admissions__content
			.block__title.text-center.text-uppercase
				h3 thời gian tổ chức thi
			ul
				li
					p Thứ 2 – Thứ 6: Từ 8:30 đến 17h
				li
					p Thứ 7: Từ 8:30 đến 12h
				li
					p (*) Nếu thí sinh có nhu cầu thi ngoài các khung giờ trên, vui lòng liên hệ với Bộ phận khảo thí để được sắp xếp lịch thi phù hợp.
			a.btn.btn__new(href="") đăng ký dự thi ngay
			p (*) Làm theo hướng dẫn và chọn Test center: "Tin Bao Lan Ltd"