section.block-section.tbl-detail-edu2.wow.fadeInDown(data-wow-delay=".3s") 
	.container
		.block__title.text-center.text-uppercase
			h3 cơ sở vật chất
		.tbl-detail-edu2__list
			.row
				.col-md-6.col-sm-6.csvc__item.p-r-5px
					.csvc__img
						img(src="./assets/images/education/edu-ct-2.png", alt="")
					.csvc__content
						.csvc__title
							h3 Cơ sở vật chất
						.csvc__desc
							p Hiện đại – Dịch vụ chuyên nghiệp, chu đáo và tận tâm.
				.col-md-6.col-sm-6.csvc__item.p-l-5px
					.csvc__img
						img(src="./assets/images/education/edu-ct-3.png", alt="")
					.csvc__content
						.csvc__title
							h3 Đội ngũ
						.csvc__desc
							p Tiếp nhận đăng ký và hỗ trợ thí sinh luôn lịch sự, nhiệt tình, chu đáo nhằm đảm bảo cho thí sinh có một kỳ thi thoải mái và thuận lợi nhất.
				.col-md-6.col-sm-6.csvc__item.p-r-5px
					.csvc__content
						.csvc__title
							h3 Tin Bao Lan Test Center
						.csvc__desc
							p Được đầu tư trang thiết bị hiện đại, tiện nghi, theo đúng tiêu chuẩn quốc tế, đường truyền internet tốc độ cao đáp ứng tốt nhất cho các kỳ thi của thí sinh.
				.col-md-6.col-sm-6.csvc__item.p-l-5px
					.csvc__img
						img(src="./assets/images/education/edu-ct-4.png", alt="")
