.block-item{
	position: relative;
	width: 390px;
	height: 500px;
	cursor: pointer;
	.item__img{
		width: 100%;
		height: 100%;
		img{
			width: 100%;
			height: 100%;
		}
	}
	.item__img-hover{
		position: absolute;
		left: 50%;
		top: 50%;
		width: 0;
		height: 0;
		transform-origin: center;
		opacity: 0;
		visibility: hidden;
		transition: .2s all ease-in-out;
		background-color: rgba($color: $main-color, $alpha: .8);
		.content{
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
			visibility: hidden;
			opacity: 0;
			transition: .2s all ease-in-out;
			h5{
				color: #fff;
				font-size: 30px;
			}
			.btn__new{
				margin-top: 30px;
				background-color: $main-color;
				color: #fff;
				&:hover{
					background-color: #fff;
					color: $main-color;
				}
			}
		}
	}
	@media(min-width: 1025px){
		&:hover{
			.item__img-hover{
				visibility: visible;
				opacity: 1;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				pointer-events: none;
				.content{
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
	@media(max-width: 991.98px){
		width: 100%;
		height: unset;
		margin-bottom: 10px;
		.item__img-hover{
			opacity: 1;
			visibility: visible;
			width: 100%;
			height: 100%;
			transform: none;
			bottom: 0;
			top: unset;
			left: 0;
			.content{
				opacity: 1;
				visibility: visible;
				h5{
					font-size: 20px;
				}
			}
		}
	}
}