.service-4{
	padding-bottom: 0;
	&__content {
		&__list {

			@media(max-width: 768px) {
				.item {
					.item__image {
						height: 150px;
					}
				}
			}
		}
		.block__btn{
			width: 100%;

			@media(max-width: 991.98px){
				margin-top: 10px;
			}
		}
	}
	&:last-child{
		padding-bottom: 60px;
	}
}
