section.block-section.helper-block.bg-gray
	.container
		.row
			.col-xl-4.col-md-3.left-box
				.block__title.text-uppercase
					h4 hỗ trợ khách hàng
				.left__sidebar
					ul
						li
							a(href="") FQAs
						li
							a(href="") Hướng dẫn đặt hàng
						li
							a(href="") Chính sách đổi trả hàng
						li
							a(href="") Chính sách vận chuyển giao hàng
						li
							a(href="") Kiểm tra bảo hàng

			.col-xl-8.col-md-9.right-box
				#panel-1.panel.active
					.block__title
						h4 FQAs
					.acc
						-for(i=1; i<11; i++)
							.acc__card
								.__title
									p 01. Có bảo hành sản phẩm vào cuối tuần và các ngày lễ không?
								.acc__panel
									p Tín Bảo Lan  phục vụ khách hàng kể cả cuối tuần trừ các ngày lễ, nếu có thay đổi đột xuất chúng tôi sẽ thông báo trên
									a(href="http://www.tblpro.com/") http://www.tblpro.com/
					