section.block-section.helper-block
	.container
		.tab-panels
			.row
				.col-md-3.left-box
					.block__title.text-uppercase.text-center
						h4 hỗ trợ khách hàng
					ul.tabs
						li(rel='panel-1') FAQs
						li(rel='panel-2') Hướng dẫn đặt hàng
						li(rel='panel-3') Chính sách đổi trả hàng
						li(rel='panel-4') Chính sách vận chuyển và giao hàng
						li(rel='panel-5') Kiểm tra bảo hành
				.col-md-9
					#panel-1.panel.active
						.block__title
							h4 FQAs
						.acc
							-for(i=1; i<11; i++)
								.acc__card
									.__title
										p 01. Có bảo hành sản phẩm vào cuối tuần và các ngày lễ không?
									.acc__panel
										p Tín Bảo Lan  phục vụ khách hàng kể cả cuối tuần trừ các ngày lễ, nếu có thay đổi đột xuất chúng tôi sẽ thông báo trên
										a(href="http://www.tblpro.com/") http://www.tblpro.com/
					#panel-2.panel.active
						.block__title
							h4 Hướng dẫn đặt hàng
						.acc
							-for(i=1; i<11; i++)
								.acc__card
									.__title
										p 01. Có bảo hành sản phẩm vào cuối tuần và các ngày lễ không?
									.acc__panel
										p Tín Bảo Lan  phục vụ khách hàng kể cả cuối tuần trừ các ngày lễ, nếu có thay đổi đột xuất chúng tôi sẽ thông báo trên http://www.tblpro.com/
					#panel-3.panel.active
						.block__title
							h4 Chính sách đổi trả hàng
						.acc
							-for(i=1; i<11; i++)
								.acc__card
									.__title
										p 01. Có bảo hành sản phẩm vào cuối tuần và các ngày lễ không?
									.acc__panel
										p Tín Bảo Lan  phục vụ khách hàng kể cả cuối tuần trừ các ngày lễ, nếu có thay đổi đột xuất chúng tôi sẽ thông báo trên http://www.tblpro.com/
					#panel-4.panel.active
						.block__title
							h4 Chính sách vận chuyển và giao hàng
						.acc
							-for(i=1; i<11; i++)
								.acc__card
									.__title
										p 01. Có bảo hành sản phẩm vào cuối tuần và các ngày lễ không?
									.acc__panel
										p Tín Bảo Lan  phục vụ khách hàng kể cả cuối tuần trừ các ngày lễ, nếu có thay đổi đột xuất chúng tôi sẽ thông báo trên http://www.tblpro.com/
					#panel-5.panel.active
						.block__title
							h4 Kiểm tra bảo hành
						.acc
							-for(i=1; i<11; i++)
								.acc__card
									.__title
										p 01. Có bảo hành sản phẩm vào cuối tuần và các ngày lễ không?
									.acc__panel
										p Tín Bảo Lan  phục vụ khách hàng kể cả cuối tuần trừ các ngày lễ, nếu có thay đổi đột xuất chúng tôi sẽ thông báo trên http://www.tblpro.com/