.tbl-home-2 {
	background-image: url('../assets/images/home/home1-bg.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	padding-top: 0;
	padding-bottom: 105px;
	margin-bottom: -160px;
	&__content{
		
		.block-about {
			padding-top: 60px;
			padding-bottom: 120px;
			.block__title{
				h3{
					letter-spacing: 0.025rem;
				}
			}
			.block__list {
				padding: 35px 0;
	
				ul {
					list-style: none;
					display: flex;
					padding: 0;
	
					li {
						margin-right: auto;
						position: relative;
						padding-left: 30px;
						display: block;
						align-items: center;
	
						&::after {
							content: '';
							position: absolute;
							top: 0;
							left: 0;
							background-color: rgb(225, 225, 225);
							width: 2px;
							height: 100%;
						}
	
						h3 {
							span{
								font-size: 36px;
								font-family: "Barlow";
								color: rgb(29, 175, 240);
								font-weight: bold;
								text-transform: uppercase;
								text-align: left;
							}
						}
	
						span {
							font-size: 14px;
							letter-spacing: 0.05rem;
							line-height: 18px;
							font-family: "Barlow";
							color: rgb(51, 51, 51);
							text-align: left;
						}
					}
				}
			}
	
			.block__description {
				max-width: 743px;
				padding-left: 30px;
				padding-top: 10px;
				margin-bottom: 40px;
				overflow-y: hidden;
	
				p {
					font-size: 24px;
					letter-spacing: 0.025rem;
					line-height: 30px;
					font-family: "Barlow";
					color: rgb(102, 102, 102);
					@media(max-width: 991.98px){
						font-size: 14px;
						text-align: justify;
					}
				}
	
				ul {
					padding: 0;
					list-style: none;
	
					li {
						font-size: 24px;
						letter-spacing: 0.025rem;
						font-family: "Barlow";
						color: rgb(102, 102, 102);
						@media(max-width: 991.98px){
							font-size: 14px;
						}
					}
				}
			}
	
			.block__btn {
				padding-left: 30px;
				@media(max-width: 991.98px){
					padding-left: 0;
					text-align: center;
					margin-top: 30px;
				}
			}
		}
	
		.block-video {
			background-color: rgb(237, 246, 251);
			height: 100%;
			max-width: 287px;
			display: flex;
			align-items: center;
			padding-left: 30px;
			padding-right: 30px;
			margin-left: auto;
			.block__content {
				padding: 0;
				list-style: none;
	
				li {
					position: relative;
					margin-bottom: 20px;
					text-align: justify;
					h4 {
						font-size: 18px;
						font-family: "Barlow";
						color: rgb(29, 175, 240);
						font-weight: bold;
						letter-spacing: 0.005rem;
					}
					&:first-child{
						&::after{
							content: '';
							position: absolute;
							top: 0;
							left: -30px;
							background-color: rgb(29, 175, 240);
							width: 2px;
							height: 100%;
						}
					}
					p{
						font-size: 14px;
						font-family: "Barlow";
						letter-spacing: 0.005rem;
						line-height: 20px;
						color: rgb(102, 102, 102);
					}
					.img{
						position: relative;
						.block__icon{
							position: absolute;
							width: 35px;
							height: 36px;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);
							z-index: 2;
						}
					}
				}
			}
		}
		@media(max-width: 991.98px){
			.block-about{
				padding: 30px 0;
				.block__list{
					padding-top: 0;
					padding-bottom: 10px;
					.block__content{
						li{
							padding: 0 10px;
							text-align: center;
							h3{
								font-size: 16px;
								text-align: center;
							}
						}
					}
				}
				.block__description{
					padding-left: 0;
					margin-bottom: 10px;
				}
			}
			.block-video{
				max-width: 100%;
				padding: 0;
				.block__content{
					li{
						margin-bottom: 10px;
						.img{
							width: 100%;
							img{
								width: 100%;
							}
						}
						&:last-child{
							margin-bottom: 0;
						}
					}
				}
			}
		}
	}
}