.tbl-home-3 {
	padding-top: 0;
	.video__slide {
		position: relative;
		padding: 0;
		width: 100%;
		height: 650px;
		.ModuleContent{
			height: 100%;
		}
		.nx-software {
			width: 100%;
			height: 100%;

			.swiper-slide {
				width: 100%;
			}

			.block__img {
				position: relative;
				width: 100%;
				height: 100%;
				overflow: hidden;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}

				.block__icon {
					position: absolute;
					width: 80px;
					height: 80px;
					top: 50%;
					left: 59%;
					transform: translate(-50%, -50%);
					z-index: 2;
				}
			}

			.swiper-button-next {
				position: absolute;
				right: 30px;
				top: 50%;
				width: 40px;
				height: 40px;
				border: solid 1px #c3c3c3;
				transform: translateY(-3%);

				&::after {
					width: 100%;
					height: 100%;
					content: ' ';
					background-image: url('../assets/icons/next.png');
					background-repeat: no-repeat;
					background-position: center;
					transition: .4s all ease-in-out;
				}

				@media(min-width: 1024px) {
					&:hover {
						&::after {
							background-color: rgba(15, 105, 171, 0.8);
							color: #fff;
							border: none;
						}
					}
				}
			}

			.swiper-button-prev {
				position: absolute;
				left: 205px;
				top: 50%;
				width: 40px;
				height: 40px;
				border: solid 1px #c3c3c3;
				transform: translateY(-3%);
				display: flex;

				&::after {
					content: '';
					width: 100%;
					height: 100%;
					background-image: url('../assets/icons/prev.png');
					background-repeat: no-repeat;
					background-position: center;
					text-align: center;
					transition: .4s all ease-in-out;
					display: flex;
					align-items: center;
					justify-content: center;
				}

				@media(min-width: 1024px) {
					&:hover {
						&::after {
							background-color: rgba(15, 105, 171, 0.8);
							color: #fff;
							border: none;
						}
					}
				}
			}

			@media(max-width: 911.98px) {
				.swiper-button-next,
				.swiper-button-prev {
					display: none;
				}
			}
		}
		@media screen and ( max-width: 1024px){
			height: auto;
		}
	}

	.right-box {
		width: 100%;
		padding: 0;
		height: 650px;
		
		.block__content {
			width: 100%;
			height: 600px;
			margin-top: 50px;
			background-image: linear-gradient(150deg, rgb(12, 180, 206) 0%, rgb(0, 108, 255) 100%);

			.block__description {
				width: 615px;
				height: 100%;
				padding: 70px 0 60px 105px;

				.block__img {
					width: 240px;
					height: 65px;
					margin-bottom: 30px;

					img {
						width: 100%;
						height: 100%;
					}
				}

				p {
					font-size: 14px;
					font-family: "Barlow";
					color: rgb(255, 255, 255);
				}

				ul {
					padding: 0;
					list-style: none;

					li {
						padding-bottom: 30px;

						p {
							font-size: 16px;
							font-family: "Myriad Pro";
							color: rgb(255, 255, 255);
							text-align: left;
						}
					}
				}

				.block__btn {
					text-align: left;
					margin-top: 30px;

					.btn__readmore {
						color: #fff;
					}
				}

				.nx-slide {
					position: relative;

					.nx__pro {
						width: 390px;
						margin-top: 30px;
						.swiper-slide{
							width: 180px;
							height: 200px;
							padding: 20px;
							background-color: rgb(255, 255, 255);
							box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
							text-align: center;
							display: flex;
							flex-direction: column;
							align-content: space-between;
							justify-content: space-between;
							.img {
								width: 100%;
								height: 112px;
								img{
									height: 90%;
									object-fit: cover;
								}
							}
	
							.img__name {
								width: 100%;
								max-height: 50px;
								text-align: center;
								overflow: hidden;
								display: -webkit-box;
								text-overflow: ellipsis;
								-webkit-box-orient: vertical;
								-webkit-line-clamp: 2;
								a {
									font-size: 14px;
									font-family: "Barlow";
									color: rgb(15, 105, 171);
									font-weight: bold;
								}
							}
							@media(max-width: 1024px) {
								width: 100%;
	
								.img {
									width: 100%;
								}
							}
	
						}
					}

					.swiper-button-next {
						position: absolute;
						right: 0;
						top: 40%;
						width: 40px;
						height: 40px;
						transform: translateY(-50%);
						border: none;
						&::after {
							width: 100%;
							height: 100%;
							content: ' ';
							background-image: url('../assets/icons/next.png');
							background-repeat: no-repeat;
							background-position: center;
							background-color: rgba(15, 105, 171, 0.8);
							display: flex;
							align-items: center;
							justify-content: center;
						}
					}

					.swiper-button-prev {
						position: absolute;
						right: 0;
						top: 61%;
						left: unset;
						width: 40px;
						height: 40px;
						border: none;
						transform: translateY(-50%);

						&::after {
							width: 100%;
							height: 100%;
							content: '';
							background-image: url('../assets/icons/prev.png');
							background-repeat: no-repeat;
							background-position: center;
							text-align: center;
							transition: .4s all ease-in-out;
							align-items: center;
							justify-content: center;
							background-color: rgba(15, 105, 171, 0.8);
						}

						@media(max-width: 1200px) {
							.swiper-button-prev {
								right: -105px;
							}

							.swiper-button-next {
								right: -105px;
							}
						}

						@media(max-width: 1025px) {
							.swiper-button-prev {
								display: none;
							}

							.swiper-button-next {
								display: none;
							}
						}
					}

				}
				@media(max-width: 1024px){
					padding: 30px 15px;
					width: 100%;
				}
				@media(max-width: 1200px){
					width: 100%;
					padding-left: 30px;
					padding-right: 15px;
				}
			}
		}
		@media screen and ( max-width: 1024px){
			height: auto;
			.block__content{
				height: 100%;
				margin-top: 0;
				display: flex;
				align-items: center;
				.block__description{
					width: 100%;
					padding: 30px 15px;
					height: fit-content;
					.nx-slide{
						.nx__pro{
							width: 100%;
						}
					}
				}
			}
		}
	}
}