.tbl-home-4 {
	padding-top: 0;
	width: 100%;
	margin-left: auto;
	.box-left {
		width: 100%;
		height: 650px;
		padding: 0;

		.block__content {
			margin-top: 50px;
			height: 600px;
			width: 100%;
			background-image: linear-gradient(170deg, rgb(203, 248, 255) 55%, rgb(0, 162, 232) 99%);

			.block__description {
				width: 630px;
				margin-left: auto;
				padding-top: 70px;
				padding-bottom: 60px;
				padding-left: 85px;
				.block__img {
					width: 240px;
					margin-bottom: 30px;

					img {
						width: 100%;
					}
				}

				h5 {
					font-size: 14px;
					font-family: "Barlow";
					color: rgb(51, 51, 51);
					font-weight: bold;
					text-transform: uppercase;
				}

				p {
					font-size: 14px;
					font-family: "Barlow";
					color: rgb(51, 51, 51);
				}
			}

			.block__btn {
				text-align: left;
				margin-top: 30px;

				.btn__new {
					color: #fff;
					&:hover{
						color: $main-color;
						background-color: #fff;
					}
				}
			}

			.vaxtor-slide {
				position: relative;

				.vaxtor__pro {
					margin-top: 30px;
					width: 640px;

					.swiper-slide{
						width: 180px;
						height: 200px;
						padding: 20px;
						background-color: rgb(255, 255, 255);
						box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
						text-align: center;
						display: flex;
						flex-direction: column;
						align-content: space-between;
						justify-content: space-between;
						.img {
							width: 100%;
							height: 112px;
							img{
								height: 90%;
								object-fit: cover;
							}
						}

						.img__name {
							width: 100%;
							max-height: 50px;
							text-align: center;
							overflow: hidden;
							display: -webkit-box;
							text-overflow: ellipsis;
							-webkit-box-orient: vertical;
							-webkit-line-clamp: 2;
							a {
								font-size: 14px;
								font-family: "Barlow";
								color: rgb(15, 105, 171);
								font-weight: bold;
							}
						}
						@media(max-width: 1024px) {
							.img {
								width: 100%;
							}
						}

					}
					@media screen and ( max-width: 1024px){
						width: 100%;
					}
				}

				.swiper-button-next {
					position: absolute;
					left: -70px;
					top: 40%;
					width: 40px;
					height: 40px;
					border: none;
					transform: translateY(-50%);
					background-color: rgba(15, 105, 171, 0.8);

					&::after {
						width: 100%;
						height: 100%;
						content: '';
						background-image: url('../assets/icons/next.png');
						background-repeat: no-repeat;
						background-position: center;
						text-align: center;
						transition: .4s all ease-in-out;
					}

					@media screen and ( max-width: 1024px){
						left: 0;
					}
				}

				.swiper-button-prev {
					position: absolute;
					left: -70px;
					top: 61%;
					width: 40px;
					height: 40px;
					border: none;
					transform: translateY(-50%);
					background-color: rgba(15, 105, 171, 0.8);

					&::after {
						width: 100%;
						height: 100%;
						content: '';
						background-image: url('../assets/icons/prev.png');
						background-repeat: no-repeat;
						background-position: center;
						text-align: center;
						transition: .4s all ease-in-out;
					}
					@media screen and ( max-width: 1024px){
						left: 0;
					}
				}
			}
			@media screen and ( max-width: 1024px){
				margin-top: 0;
				height: auto;
				.block__description{
					width: 100%;
					padding: 30px 15px;
				}
			}
		}
		@media screen and ( max-width: 1024px){
			height: auto;
		}
	}

	.video__slide {
		position: relative;
		display: block;
		padding: 0;
		height: 650px;
		.ModuleContent{
			height: 100%;
		}

		.nx-software {
			position: relative;
			z-index: 0;
			width: 100%;
			height: 100%;

			.swiper-slide {
				width: 100%;
			}

			.block__img {
				position: relative;
				width: 100%;
				height: 100%;
				overflow: hidden;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}

				.block__icon {
					position: absolute;
					width: 80px;
					height: 80px;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					z-index: 2;
				}
			}
		}
		.swiper-button-next {
			position: absolute;
			right: 15%;
		}
		.swiper-button-prev {
			position: absolute;
			left: 45px;
		}
		@media screen and ( max-width: 1024px){
			height: auto;
		}
	}
}