.tbl-home-6{
	position: relative;
	width: 100%;
	height: 609px;
	background-image: url('../assets/images/home/home4-bg.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 0;
	padding-bottom: 0;
	&::before{
		position: absolute;
		width: 100%;
		height: 100%;
		content: '';
		top: 0;
		left: 0;
		background-color: #fff;
		opacity: .7;
		z-index: 0;
	}
	&__content{
		.block__title{
			padding-top: 70px;
			position: relative;
			z-index: 1;
			height: 197px;
			margin-bottom: 0;
			&__description{
				padding-top: 30px;
				display: flex;
				align-items: center;
				text-align: center;
				justify-content: center;
				p{
						font-size: 16px;
						color: rgb(51, 51, 51);
						text-align: left;
						font-weight: 400;
				}
				span{
					padding-left: 20px !important;
				}
				@media(max-width: 1024px){
					padding-left: 15px;
					padding-right: 15px;
					padding-top: 0;
					display: inline-grid;
				}
			}
			@media screen and ( max-width: 1025px){
				padding-top: 20px;
				height: unset;
			}
		}
		&__edu{
			position: relative;
			z-index: 2;
			height: 412px;
			padding-top: 70px;
			padding-bottom: 0;
			background-color: rgba($color: $main-color, $alpha: .7);
			.box-left{
				height: 100%;
				width: 100%;
				.relative{
					height: 100%;
				}
				.left__img{
					position: absolute;
					bottom: -150px;
					left: 0;
					width: 735px;
					height: 437px;
					img{
						width: 100%;
					}
					@media screen and ( max-width: 1024px){
						position: static;
						width: unset;
						height: unset;
					}
				}
				@media(max-width: 991.98px){
					display: none;
				}
			}
			.box-right{
				position: relative;
				.right__title{
					padding-bottom: 30px;
					h5{
						font-size: 24px;
						font-family: "Barlow";
						color: rgb(255, 255, 255);
						text-transform: uppercase;
						text-align: center;
						
					}
				}
				.right-slide{
					position: relative;
					width: 398px;
					margin: 0 auto;
					.right-partner{
						width: 100%;
						height: 230px;
						.swiper-slide{
							height: 94px;
							.img{
								margin: 0 auto;
								text-align: center;
								width: 113px;
								height: 100%;
								img{
									width: 100%;
									height: 100%;
									object-fit: cover;
								}
							}
						}
					}
					.swiper-button-next{
						position: absolute;
						right: -50px;
						top: 60%;
						width: 40px;
						height: 40px;
						border: solid 1px #c3c3c3;
						transform: translateY(-50%);
						background-color: transparent;
						&::after{
							width: 100%;
							height: 100%;
							content: '';
							background-image: url('../assets/icons/next.png');
							background-repeat: no-repeat;
							background-position: center;
							text-align: center;
							transition: .4s all ease-in-out;
							display: flex;
							align-items: center;
							justify-content: center;
						}
					}
					.swiper-button-prev{
						position: absolute;
						left: -50px;
						top: 60%;
						width: 40px;
						height: 40px;
						border: solid 1px #c3c3c3;
						transform: translateY(-50%);
						background-color: transparent;
						&::after{
							width: 100%;
							height: 100%;
							content: '';
							background-image: url('../assets/icons/prev.png');
							background-repeat: no-repeat;
							background-position: center;
							text-align: center;
							transition: .4s all ease-in-out;
							display: flex;
							align-items: center;
							justify-content: center;
						}
					}
					@media screen and ( max-width: 991.98px){
						width: 100%;
					}
				}
			}
			@media(max-width: 991.98px){
				padding: 20px 0;
				height: unset;
			}
		}
	}
	
	@media(max-width: 1200px){
		&__content{
			.block__title{
				margin-bottom: 30px;
			}
		}
	}
	@media screen and ( max-width: 1024px){
		height: auto;
	}
}