section.block-section.tbl-pro-detail2.wow.fadeInDown(data-wow-delay=".3s")
	.container
		.tbl-pro-detail2__desciption
			.tab-panels
				ul.tabs
					li(rel='panel-1') Chi tiết sản phẩm
					li(rel='panel-2') Đánh giá
				#panel-1.panel.active
					.row
						.col-md-8
							.top
								.panel__title
									h3 Đặc điểm phương tiện truyền thông
								.panel__desc
									ul.desc
										li
											p Nhãn và rộng tối thiểu lót
											span 1,00 "( 25,4 mm )
										li
											p Đường kính lõi
											span 1,0 " ( 25,4 mm ) và 1.5" ( 38 mm )
										li
											p Phương tiện truyền thông có độ dày
											span 0,003 " ( 0,08 mm ) đến 0,007 " ( 0,18 mm )
										li
											p Các loại phương tiện truyền thông
											span thẻ chứng khoán , cuộn hoặc fanfold
							.bottom
								.panel__title
									h3 Đặc điểm phương tiện truyền thông
								.panel__desc
									ul.desc
										li
											p Chiều dài tiêu chuẩn 
											span 244 ' ( 74 m )
										li
											p Tỷ lệ
											span 1:1
										li
											p ID Core
											span 0,5 "(12,7 mm )
										li
											p Chiều rộng băng
											span Khuyến nghị được ít nhất là rộng như phương tiện truyền thông 1,33 " ( 33,8 mm ) đến 4,3 " ( 110 mm )
						.col-md-4
							.img
								img(src="./assets/images/product/pro-ct-3.png", alt="")
						.block__btn.text-center
							a.btn.btn__new(href="") Xem thêm
				#panel-2.panel
					.row
						.col-md-8
							.top
								.panel__title
									h3 Đặc điểm phương tiện truyền thông
								.panel__desc
									ul.desc
										li
											p Nhãn và rộng tối thiểu lót
											span 1,00 "( 25,4 mm )
										li
											p Đường kính lõi
											span 1,0 " ( 25,4 mm ) và 1.5" ( 38 mm )
										li
											p Phương tiện truyền thông có độ dày
											span 0,003 " ( 0,08 mm ) đến 0,007 " ( 0,18 mm )
										li
											p Các loại phương tiện truyền thông
											span thẻ chứng khoán , cuộn hoặc fanfold
							.bottom
								.panel__title
									h3 Đặc điểm phương tiện truyền thông
								.panel__desc
									ul.desc
										li
											p Chiều dài tiêu chuẩn 
											span 244 ' ( 74 m )
										li
											p Tỷ lệ
											span 1:1
										li
											p ID Core
											span 0,5 "(12,7 mm )
										li
											p Chiều rộng băng
											span Khuyến nghị được ít nhất là rộng như phương tiện truyền thông 1,33 " ( 33,8 mm ) đến 4,3 " ( 110 mm )
						.col-md-4
							.img
								img(src="./assets/images/product/pro-ct-3.png", alt="")
						.block__btn.text-center
							a.btn.btn__new(href="") Xem thêm