.tbl-product{
	background-color: #f5f5f5;
	.block__filter{
		padding: 30px;
		position: relative;
		display: flex;
		align-items: center;
		.nav{
			width: 90%;
			.nav-item{
				.nice-select{
					width: auto;
				}
				@media screen and ( min-width: 1200){
					margin-left: auto;
				}
			}
			@media screen and ( max-width: 1024px){
				&.active{
					display: inline-grid;
				}
				.nav-item{
					margin-left: 0;
				}
			}
		}
		h4{
			font-size: 16px;
			color: rgb(51, 51, 51);
			font-weight: bold;
			text-transform: uppercase;
			padding-right: 30px;
			@media(max-width: 1025px){
				font-size: 14px;
			}
		}
		@media(max-width: 991.98px){
			padding: 7px;
			display: flex;
			h4{ padding-right: 15px;}
			position: relative;
			.nav{
				background-color: #fff;
				
			}
		}
		@media(max-width: 768px){
			position: relative;
			padding: 10px;
			h4{ padding-right: 15px;}
			.nav{
				border-top: solid 1px $main-color;
				width: 50%;
				padding: 15px;
				position: absolute;
				top: 100%;
				right: 0;
				z-index: 2;
				background-color: #fff;
				display: none;
				@media(max-width: 575px){
					width: 100%;
				}
			}
		}
		.filter__icon{
			display: none;
			color: rgb(51, 51, 51);
			font-weight: 900;
			font-size: 18px;
			position: absolute;
			top: 50%;
			right: 20px;
			cursor: pointer;
			transform: translateY(-50%);
			@media(max-width: 768px){
				display: block;
			}
		}
	}
	.block__filter>.nav>.nav-item>.form-group>.nice-select{
		width: 125px;
		&:after {
			color: rgb(102, 102, 102);
		}
		.option{
			padding: .5rem;
		}
	}
	.list-product{
		position: relative;
		padding-top: 10px;
		.product__item{
			background-color: rgb(255, 255, 255);
			max-width: 285px;
			margin-bottom: 20px;
			border: solid 1px transparent;
			transition: ease-in-out all .3s;
			.product__image{
				width: 100%;
				height: 150px;
				padding: 20px;
				display: flex;
				align-items: center;
				text-align: center;
				justify-content: center;
				img{
					width: 50%;
				}
				@media(max-width: 768px){
					img{
						width: 35%;
					}
				}
			}
			.product__desc{
				padding: 30px 30px;
				.product__name{
					a{
						font-size: 14px;
						font-family: "Barlow";
						color: rgb(51, 51, 51);
						font-weight: bold;
						text-transform: uppercase;
						text-decoration: none;
					}
				}
				.product__infor{
					display: flex;
					align-items: center;
					position: relative;
					.product__price{
						.sale{
							font-size: 22px;
							color: rgb(2, 103, 177);
							text-align: left;
						}
						.promotion{
							font-size: 18px;
							color: rgb(153, 153, 153);
							text-decoration: line-through;
							text-align: left;
						}
					}
					.icon{
						width: 55px;
						height: 40px;
						transition:  .3s all ease-in-out;
						position: absolute;
						top: 50%;
						right: -30px;
						transform: translateY(-50%);
						display: flex;
						align-items: center;
						justify-content: center;
						a{
							.lnr{
								font-size: 18px;
								color: rgb(2, 103, 177);
								transition:  .3s all ease-in-out;
							}
						}
					}
				}
				@media(max-width: 1025px){
					padding: 15px;
				}
			}
			@media(min-width: 1025px){
				&:hover{
					border: solid 1px $main-color;
					box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.07);
					.icon{
						transition:  .3s all ease-in-out;
						background-color: rgb(2, 103, 177);
						a{
							.lnr
								{color: #fff !important;}
						}
					}
				}
				
			}
			@media(max-width: 991.98px){
				max-width: 100%;
			}
		}
	}
}