.block__filter>.nav>.nav-item>.form-group>.nice-select{
	width: 125px;
	&:after {
		color: rgb(102, 102, 102);
	}
	.option{
		padding: .5rem;
	}
}
.list-product{
	padding-top: 10px;
	.product__item{
		background-color: rgb(255, 255, 255);
		max-width: 285px;
		margin-bottom: 20px;
		border: solid 1px transparent;
		transition: ease-in-out all .3s;
		.product__image{
			width: 100%;
			height: 182px;
			display: flex;
			align-items: center;
			text-align: center;
			justify-content: center;
			img{
				width: 50%;
			}
		}
		.product__desc{
			padding: 30px 30px;
			.product__name{
				a{
					font-size: 14px;
					font-family: "Barlow";
					color: rgb(51, 51, 51);
					font-weight: bold;
					text-transform: uppercase;
					text-align: left;
					text-decoration: none;
				}
			}
			.product__infor{
				display: flex;
				align-items: center;
				.product__price{
					.sale{
						font-size: 22px;
						color: rgb(2, 103, 177);
						text-align: left;
					}
					.promotion{
						font-size: 18px;
						color: rgb(153, 153, 153);
						text-decoration: line-through;
						text-align: left;
					}
				}
				.icon{
					width: 55px;
					height: 40px;
					margin-left: auto;
					transition:  .3s all ease-in-out;
					display: flex;
					align-items: center;
					justify-content: center;
					a{
						font-size: 18px;
						color: rgb(2, 103, 177);
						transition:  .3s all ease-in-out;
					}
					@media(min-width: 1025px){
						&:hover{
							transition:  .3s all ease-in-out;
							background-color: rgb(2, 103, 177);
							a{
								color: #fff;

							}
						}
					}
				}
			}
		}
		@media(min-width: 1025px){
			&:hover{
				border: solid 1px $main-color;
				box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.07);
			}
			
		}
		@media(max-width: 991.98px){
			max-width: 100%;
		}
	}
}