section.block__banner
	.banner-main
		.banner__img
			.banner__content
				.banner__description
					h3 Bạn cần tìm giải pháp gì?
					.form-group.mb-0
						p Tôi muốn
						select
							option(selected='') mục tiêu của tôi là
							option mục tiêu của tôi là
							option mục tiêu của tôi là