section.block__banner
	.banner-main
		.banner__img
			img(src="./assets/images/banner/banner-1.png", alt="")
		.banner__content
			.banner__description
				h3 Bạn cần tìm giải pháp gì?
				.form-group.mb-0
					span Tôi muốn
					select
						option(selected='') mục tiêu của tôi là
						option mục tiêu của tôi là
						option mục tiêu của tôi là