footer{
	background-color: rgb(7, 88, 163);
	margin-left: auto;
	width: 100%;
	.footer-block{
		position: relative;
		padding-top: 60px;
		.footer-card{
			width: 100%;
			padding-bottom: 40px;
			.card__title{
				margin-bottom: 15px;
				h3{
					font-weight: 500;
					color: #fff;
					font-size: 18px;
					font-family: "Barlow";
					line-height: 22px;
					text-transform: uppercase;
				}
			}
			.card__body{
				p{
					font-size: .875rem;
					font-family: "Barlow";
					color: rgba(255, 255, 255, 0.502);
				}
				ul{
					padding: 0;
					list-style: none;
					li{
						display: flex;
						margin-bottom: .5rem;
						span{
							.material-icons{
								font-size: 14px;
								font-family: "Material Icons";
								color: rgb(29, 175, 240);
								margin-right: 15px;
								font-weight: 400;
							}
						}
						p{
							font-size: 14px;
							line-height: 30px;
							font-weight: 400;
							font-family: "Barlow";
							color: rgba(255, 255, 255, 0.502);
						}
						a{
							font-size: .875rem;
							font-family: "Barlow";
							color: rgba(255, 255, 255, 0.502);
						}
					}
				}
			}
			.subscribe{
				.subscribefrm{
					position: relative;
					margin: 1.25rem 0;
					.subscribeemail{
						border-radius: 0;
						width: 100%;
						height: 40px;
						background-color: transparent;
						color: rgba(255, 255, 255, 0.502);
						padding-left: 15px;
						border: solid 1px rgba($color: #fff, $alpha: .2);
						&::placeholder{
							font-size: 14px;
							font-family: "Barlow";
							color: rgb(107, 150, 189);
							line-height: 1.429;
								
						}
					}
					.subscribebutton{
						position: absolute;
						right: 0;
						top: 0;
						border-radius: 0;
						color: #fff;
						padding: .3rem;
						background-color: rgb(29, 175, 240);
						width: 75px;
						height: 40px;
						border: none;
						outline: none;
					}
				}
			}
			
			.card__media{
				width: 106px;
				height: 40px;
				img{
					width: 100%;
					height: 100%;
				}
			}
			@media(max-width: 768.98px){
				margin-top: 0;
				padding-bottom: 20px;
			}
		}
		@media(max-width: 1024.98px){
			padding-top: 30px;
		}
	}
	.copyright{
		width: 100%;
		padding-top: 15px;
		padding-bottom: 30px;
		border-top: solid 1px rgb(57, 121, 181);
		ul{
			display: flex;
			justify-content: flex-end;
			padding: 0;
			list-style: none;
			li{
				margin-left: 30px;
				position: relative;
				a{
					.fa{
						font-size: 15px;
						color: rgb(137, 186, 232);
						font-weight: 400;
						line-height: 20px;
					}
				}
				&:last-child{
					padding-right: 0;
				}
			}
			@media(max-width: 768px){
				justify-content: flex-start;
			}
		}
		p{
			font-size: 13px;
			font-family: "Barlow";
			color: rgba(255, 255, 255, 0.502);
			text-transform: uppercase;
			line-height: 20px;
			font-weight: 400;
		}
	}
}