header {
	position: fixed;
	width: 100%;
	margin-left: auto;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
	display: flex;
	align-items: center;
	z-index: 999;

	&::after {
		position: absolute;
		content: '';
		width: 100%;
		height: 2px;
		bottom: 0;
		left: 0;
		background-color: $main-color;
	}

	.navbar-toggler {
		background-color: #fff;
		align-items: center;
		display: flex;

		.navbar-toggler-icon {
			width: 2rem;

			.bar {
				width: 100%;
				height: .3rem;
				background-color: rgb(29, 175, 240);
				margin-bottom: .3rem;
			}
		}
	}

	label {
		display: block;
		font-size: 16px;
		color: rgb(29, 175, 240);
		cursor: pointer;
	}

	.navbar {
		padding: 0;
	}

	.navbar-expand-lg {
		display: flex;

		.navbar-brand {
			width: 10%;
			height: 75px;

			img {
				width: 100%;
				height: 100%;
			}

			@media(max-width: 991.98px) {
				margin: 0 auto;
				width: auto;
			}

		}

		.search {
			color: $main-color;
			font-size: 18px;
			cursor: pointer;
		}

		.search-form {
			display: none;
			transition: .3s all ease-in-out;
			.form-group {
				width: 100%;
				position: absolute;
				bottom: -80%;
				right: 0;

				.form-control {
					border: none;
					border-radius: 0;
					border-bottom: solid 2px $main-color;
				}

				.close {
					position: absolute;
					right: 0;
					top: 50%;
					transform: translateY(-50%);
					cursor: pointer;
					color: $main-color;
				}
			}
		}

		.navbar-collapse {
			width: 67%;
			flex-direction: column;

			.nav-top {
				width: 100%;
				margin-bottom: 20px;
				list-style: none;
				justify-content: flex-end;
				padding-left: 0;

				li {
					margin-left: auto;
				}

				.form-group {
					margin-left: auto;
					position: relative;
					margin-bottom: 0;

					.form-control {
						width: 240px;
						border: none;
						border-radius: 0;
						border-bottom: solid 1px rgb(235, 235, 235);
						font-size: 14px;
						font-family: "Barlow";
						color: rgb(153, 153, 153);

						&:focus {
							outline: none;
						}
					}

					.btn__search {
						position: absolute;
						top: 50%;
						right: 0;
						transform: translateY(-50%);
						font-size: 18px;
						font-family: "MaterialIcons";
						color: rgb(29, 175, 240);
					}
				}

				.btn__shopping {
					display: flex;
					align-items: center;
					border-radius: 5px;
					background-color: rgb(29, 175, 240);
					width: 120px;
					height: 30px;
					color: #fff;
					font-size: 14px;
					font-family: "Barlow";

					em {
						margin-right: 15px;
					}
				}

				.btn__check {
					margin-right: 30px;
					font-size: 14px;
					font-family: "Barlow";

					em {
						color: rgb(29, 175, 240);
						margin-right: 10px;
					}
				}

				.header__language {
					.dropdown-toggle {
						border: none;
						background-color: transparent;

						&:focus {
							outline: none;
						}
					}

					.dropdown-menu {
						min-width: 3rem;

						.dropdown-item {
							text-align: center;
							padding: .5rem;
						}
					}
				}
			}

			.navbar-nav {
				float: right;
				width: 100%;

				.nav-item {
					margin-left: auto;

					.nav-link {
						font-size: 16px;
						font-family: "Barlow";
						font-weight: 700;
						color: rgb(51, 51, 51);
						text-transform: uppercase;
						text-align: center;
						transition: .3s all ease-in-out;

						@media(max-width: 991.98px) {
							font-size: 14px;
						}

						@media(min-width: 991.98px) {
							&:hover {
								color: rgb(29, 175, 240);
							}
						}
					}

					.header__language {
						.dropdown-toggle {
							border: none;
							background-color: transparent;

							&:focus {
								outline: none;
							}
						}

						.dropdown-menu {
							min-width: 3rem;

							.dropdown-item {
								text-align: center;
								padding: .5rem;
							}
						}
					}
					.dropdown-menu{
						border-radius: 0;
						padding: 0;
						top: 90%;
						li{
							border-bottom: solid 1px rgb(225, 225, 225);
							a{
								font-size: 16px;
								color: rgb(51, 51, 51);
									
							}
							&:hover{
								
								a{
									color: $main-color;
									background-color: transparent;
								}
							}
						}
					}
					&:hover{
						.dropdown-menu{
							display: block;
						}
					}
					.menu-mega{
						position: absolute;
						top: 120%;
						left: 0;
						transition: .3s all ease-in-out;
						width: 100%;
						background-color: #fff;
						display: flex;
						opacity: 0;
						visibility: hidden;
						.col-2dot4{
							width: 242px;
							border: solid 1px rgb(225, 225, 225);
							display: flex;
							align-items: center;
							.product-menu{
								width: 100%;
								cursor: pointer;
								&__img{
									width: 100%;
									height: 150px;
									padding: 20px;
									display: flex;
									align-items: center;
									text-align: center;
									img{
										width: 50%;
										-webkit-transform: scale(1.2);
										transform: scale(1.2);
										-webkit-transition: .3s ease-in-out;
										transition: .3s ease-in-out;
									}
								}
								@media(min-width: 1025px){
									&:hover{
										img{
											-webkit-transform: scale(1.1);
											transform: scale(1.1);
										}
									}
								}
								&__name{
									padding: 15px;
									text-align: center;
									a{
										text-decoration: none;
										font-size: 18px;
										font-weight: 700;
									}
								}
							}
						}
					}
					&:hover{
						.menu-mega{
							top: 100%;
							display: block;
							opacity: 1;
							visibility: visible;
							overflow-y: auto;
						}
					}
				}

				@media(max-width: 991.98px) {
					float: left;

					.nav-item {
						margin-left: 0;
						margin-right: auto;

						&.header__language {
							.dropdown-menu {
								min-width: 5rem;
							}
						}
					}
				}
			}
		}

		.nav-logo {
			width: 23%;

			ul {
				list-style: none;
				justify-content: flex-end;

				li {
					background-color: rgb(247, 247, 247);
					width: 90px;
					height: 70px;
					margin-right: 5px;
					display: flex;
					align-items: center;
					justify-content: center;

					&:last-child {
						margin-right: 0;
					}
				}
			}
		}
	}
}