.helper-block {
	padding-top: 40px;

	.left-box {
		.block__title {
			background-color: rgb(29, 175, 240);
			height: 60px;
			padding: 20px 20px;

			h4 {
				font-size: 20px;
				color: rgb(255, 255, 255);
				font-weight: bold;
			}
			@media(max-width: 991.98px) {
				padding: 10px;
				height: unset;
			}
		}

		.left__sidebar {
			ul {
				list-style: none;
				padding-left: 0;
				background-color: #fff;

				li {
					position: relative;
					padding: 15px 20px;
					border-bottom: solid 1px #eee;

					&::after {
						position: absolute;
						content: '';
						top: 0;
						left: 0;
						width: 2px;
						height: 100%;
						background-color: $main-color;
						opacity: 0;
						visibility: hidden;
						transition: .2s all ease-in-out;
					}

					a {
						font-size: 16px;
						font-weight: bold;
						text-decoration: none;
					}

					&:hover {
						&::after {
							opacity: 1;
							visibility: visible;
						}
					}
					@media(max-width: 991.98px){
						padding: 10px;
					}
				}
			}
		}
	}

	.right-box {
		.panel {
			padding-top: 0;
			background-color: transparent;

			.block__title {
				padding-top: 0;

				h4 {
					font-size: 40px;
					color: rgb(2, 103, 177);
					font-weight: bold;

					
				}
				@media(max-width: 991.98px) {
					padding-top: 10px;
					h4{
						font-size: 20px;
					}
				}
			}
			.acc {
				.acc__card {
					background-color: #fff;
					border: none;
					margin-bottom: 5px;

					.__title {
						cursor: pointer;
						display: flex;
						align-items: center;
						padding: .75rem 1.875rem;
						position: relative;

						p {
							font-size: 18px;
							font-family: "Barlow";
							color: rgb(51, 51, 51);
							text-decoration: none;
						}

						&::after {
							position: absolute;
							right: 20px;
							top: 0;
							transform: rotate(0deg);
							transition: all 0.2s ease-in-out;
							padding: 5px 0;
							content: '\f107 ';
							font-family: 'FontAwesome';
							font-size: 16px;
						}

						&.active {
							p {
								color: $main-color;
							}

							&::after {
								color: $main-color;
								transform: rotate(-180deg);
								transition: all 0.2s ease-in-out;
							}
						}
						@media(max-width: 991.98px){
							p{
								font-size: 14px;
							}
						}
					}

					.acc__panel {
						padding-left: 30px;
						padding-right: 20px;
						padding-bottom: 40px;

						p {
							position: relative;
							font-size: 18px;
							color: rgb(51, 51, 51);

							&::after {
								opacity: 1;
								position: absolute;
								top: -30px;
								left: 0;
								content: '';
								height: 2px;
								width: 100%;
								background-color: $main-color;
								transition: .3s all ease-in-out;
							}

							@media(max-width: 991.98px) {
								font-size: 14px;
							}
						}
					}
				}
			}
		}
	}
}