<?xml version="1.0" encoding="utf-8" ?>
<templates>
  <position>
	<add name="Sản phẩm section 3" value="1" resourcefile="" />
	<add name="Sản phẩm section 4" value="2" resourcefile="" />
  </position>

  <showoption name="New" value="1"  />

  <templatelist xsltname="ProductList.xslt" name="Danh sách sản phẩm" />
  <templatelist xsltname="ShopingList.xslt" name="Danh sách sản phẩm shopping" />
  <templatelist xsltname="DichVuDanhSach.xslt" name="Danh sách dịch vụ" />

  <templatedetail xsltname="ProductDetail.xslt" name="Chi tiết sản phẩm" />
  <templatedetail xsltname="DichVuCT.xslt" name="Chi tiết dịch vụ" />
</templates>
