.about-2{
	position: relative;
	width: 100%;
	.box-left{
		position: relative;
		width: 100%;
		padding: 0;
		.block__img{
			width: 100%;
			height: 100%;
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		@media(max-width: 991.98px){
			height: 50vw;
		}
	}
	.right-box{
		background-image: linear-gradient( 150deg, rgb(12,180,206) 0%, rgb(0,108,255) 100%);
		margin-top: 27px;
		width: 100%;
		padding: 0;
		display: flex;
		align-items: center;
		padding: 0;
		.block__content{
			width: 550px;
			margin: 0 auto;
			padding-top: 80px;
			padding-bottom: 70px;
			.block__title{
				h3{
					color: #fff;
				}
			}
			.block__description::-webkit-scrollbar-track {
				box-shadow      : inset 0 0 6px rgba(255, 255, 255, 0);
				background-color: rgb(29, 175, 240);
			}
			
			.block__description::-webkit-scrollbar {
				width           : 5px;
				height          : 5px;
				background-color: rgb(29, 175, 240);
			}
			
			.block__description::-webkit-scrollbar-thumb {
				border-radius   : 2.5px;
				box-shadow      : inset 0 0 6px rgba(255, 255, 255, 0);
				background-color: #fff;
			}
			.block__description{
				max-height: 320px;
				padding-right: 20px;
				overflow-y: auto;
				p{
					font-size: 16px;
					font-family: "Barlow";
					color: rgb(255, 255, 255);
					text-align: left;
					padding-bottom: 20px;
				}
				ul{
					padding-left: 30px;
					list-style: none;
					li{
						position: relative;
						padding-bottom: 20px;
						p{
							font-size: 16px;
							font-family: "Barlow";
							color: rgb(255, 255, 255);
							padding-bottom: 0;
						}
						&::after{
							content: '\f054';
							font-family: "FontAwesome";
							position: absolute;
							top: 20%;
							left: -30px;
							transform: translateY(-50%);
							font-size: 16px;
							color: #fff;
						}
					}
				}
				@media(max-width: 1025px){
					p{
						padding-bottom: 16px;
						font-size: 14px;
					}
					ul li p{
						font-size: 14px;
					}
					ul li{
						padding-bottom: 15px;
					}
				}
				@media(max-width: 991.98px){
					max-height: 160px;
					padding-right: 20px;
					p{
						font-size: 14px;
						padding-bottom: 10px;
					}
					ul{
						li{
							padding-bottom: 10px;
							p{
								font-size: 14px;
							}
						}
					}
				}
				@media(max-width: 344px){
					max-height: 135px;
				}
			}
			@media(max-width: 1200px){
				padding-top: 50px;
				padding-bottom: 30px;
				width: 100%;
				margin: 0;
				padding-left: 30px;
				padding-right: 30px;
			}
			@media(max-width: 1025px){
				padding: 30px;
			}
			@media(max-width: 768.98px){
				padding: 25px 15px;
			}
		}
		@media(max-width: 1024px){
			width: 100%;
			margin-top: 0;
			.block__content{
				width: 100%;
			}
		}
	}
}