.about-5{
	position: relative;
	width: 100%;
	padding-top: 0;
	&__content{
		padding-top: 25px;
		.chart-box{
			width: 100%;
			text-align: center;
		}
		@media (min-width: 600px){
			padding-top: 30px;
		}
		@media (min-width: 768px){
			padding-top: 35px;
		}
		@media (min-width: 1025px){
			padding-top: 40px;
		}
		@media (min-width: 1200px){
			padding-top: 50px;
		}
		@media (min-width: 1438px){
			padding-top: 70px;
		}
	}
}