extends _components/_layout/_layout.pug
block var
	- let title = 'CHI TIẾT TUYỂN DỤNG';
	- let bodyClass = 'detail-hr-page';
	- let titlePosition = ['chi tiet tuyen dung'];
block banner,breadcrumb
	include ./_components/_layout/_breadcrumb.pug
block main
	include ./_components/tuyen-dung/ct-tuyendung/detail-hr-1.pug
block scripts