extends _components/_layout/_layout.pug
block var
	- let title = 'DANH SÁCH ĐÀO TẠO';
	- let bodyClass = 'list-education-page';
	- let titlePosition = [''];
block banner,breadcrumb
	include ./_components/_layout/_breadcrumb.pug
block main
block scripts