extends _components/_layout/_layout.pug
block var
	- let title = 'SẢN PHẨM';
	- let bodyClass = 'product-page';
	- let titlePosition = [''];
block banner,breadcrumb
	include ./_components/san-pham/list-sp/list-1.pug
	include ./_components/_layout/_breadcrumb.pug
block main
	include ./_components/san-pham/list-sp/list-2.pug
block scripts