extends _components/_layout/_layout.pug
block var
	- let title = 'MUA HÀNG ONLINE';
	- let bodyClass = 'shopping-page';
	- let titlePosition = ['shopping'];
block banner,breadcrumb
	include ./_components/shopping/shopping-banner.pug
	include ./_components/_layout/_breadcrumb.pug
block main
	include ./_components/shopping/shopping.pug
block scripts