extends _components/_layout/_layout.pug
block var
	- let title = 'TUYỂN DỤNG';
	- let bodyClass = 'hr-page';
	- let titlePosition = [''];
block banner,breadcrumb
	include ./_components/tuyen-dung/list-td/tuyen-dung-1.pug
	include ./_components/_layout/_breadcrumb.pug
block main
	include ./_components/tuyen-dung/list-td/list-hr.pug
block scripts