section.block-section.tbl-detail-service1.wow.fadeInDown(data-wow-delay=".3s")
	.container
		.tbl-dsv1-content
			.row
				.col-md-6.col-12.pr-0
					.tbl-dsv1-content__image
						img(src="./assets/images/serviced/ct-1.png", alt="")
				.col-md-6.col-12.pl-0
					.tbl-dsv1-content__description
						.block__title
							h3 Giải pháp thích hợp hệ thống
						.tbl-dsv1-content__description__list
							ul
								li
									p Giúp Tiết kiệm thời gian di chuyển đến nơi thảo luận; kinh phí tổ chức một cuộc hội nghị
								li
									p Thực hiện cuộc họp trực tuyến giữa nhiều địa điểm khác nhau giúp tổ chức cuộc họp, hội nghị một cách nhanh chóng và đơn giản
								li
									p Có thể lưu trữ toàn bộ nội dung cuộc họp mà không cần nhiều người ghi chép lại
								li
									p Độ bảo mật và an toàn của cuộc họp cao và các quyết định và nội dung trao đổi được đưa ra kịp thời và đúng lúc
						.tbl-dsv1-content__description__icon
							span.icon__bg
								i.fa.fa-facebook
							span.icon__bg
								i.fa.fa-twitter
