section.block-section.tbl-detail-service2
	.container
		.tbl-detail-service2__description
			.tab-panels
				ul.tabs
					li(rel='panel-1') Thông tin
					li(rel='panel-2') Giải pháp
					li(rel='panel-3') Đề xuất
				#panel-1.panel.active
					.panel__title
						p Các nhà cung cấp hội nghị truyền hình
					.panel__slide
						.swiper-container.panel-slide
							.swiper-wrapper
								-for(i=1; i<4; i++)
									.swiper-slide
										.panel__img
											img(src="./assets/images/serviced/logo-"+i+".png", alt="")
						.swiper-button-next
						.swiper-button-prev
					.panel__desc
						p Là một trong những hãng cung cấp giải pháp Video Conferencing hàng đầu trên thế giới, Polycom cung cấp các giải pháp HighEnd bao gồm các dòng sản phẩm Polycom Group series;  EndPoint HDX series; MCU dòng RMX series;  cho các khách hàng thuộc khối Chính phủ; các Tập đoàn; doanh nghiệp. Với các dải sản phẩm với phần cứng; phần mềm  quản lý: VCM (Video content management);  Phần mềm lưu trữ RealPresence Capture series; RealPresence Media Manager phần mềm  họp từ xa cài đặt trên Laptop; mobile  hoạt động mạnh mẽ mang lại sự ổn định và khả năng kết nối dễ dàng; thuận tiện.
					.panel__list
						.row
							-for(i=1; i<5; i++)
								.col-md-3.col-12.p-0
									.item
										img(src="./assets/images/serviced/p-"+i+".png", alt="")
				#panel-2.panel
					.panel__title
						p Các nhà cung cấp hội nghị truyền hình
					.panel__slide
						.swiper-container.panel-slide
							.swiper-wrapper
								-for(i=1; i<4; i++)
									.swiper-slide
										.panel__img
											img(src="./assets/images/serviced/logo-"+i+".png", alt="")
						.swiper-button-next
						.swiper-button-prev
					.panel__desc
						p Là một trong những hãng cung cấp giải pháp Video Conferencing hàng đầu trên thế giới, Polycom cung cấp các giải pháp HighEnd bao gồm các dòng sản phẩm Polycom Group series;  EndPoint HDX series; MCU dòng RMX series;  cho các khách hàng thuộc khối Chính phủ; các Tập đoàn; doanh nghiệp. Với các dải sản phẩm với phần cứng; phần mềm  quản lý: VCM (Video content management);  Phần mềm lưu trữ RealPresence Capture series; RealPresence Media Manager phần mềm  họp từ xa cài đặt trên Laptop; mobile  hoạt động mạnh mẽ mang lại sự ổn định và khả năng kết nối dễ dàng; thuận tiện.
					.panel__list
						.row
							-for(i=1; i<5; i++)
								.col-md-3.col-12.p-0
									.item
										img(src="./assets/images/serviced/p-"+i+".png", alt="")
				#panel-3.panel
					.panel__title
						p Các nhà cung cấp hội nghị truyền hình
					.panel__slide
						.swiper-container.panel-slide
							.swiper-wrapper
								-for(i=1; i<4; i++)
									.swiper-slide
										.panel__img
											img(src="./assets/images/serviced/logo-"+i+".png", alt="")
						.swiper-button-next
						.swiper-button-prev
					.panel__desc
						p Là một trong những hãng cung cấp giải pháp Video Conferencing hàng đầu trên thế giới, Polycom cung cấp các giải pháp HighEnd bao gồm các dòng sản phẩm Polycom Group series;  EndPoint HDX series; MCU dòng RMX series;  cho các khách hàng thuộc khối Chính phủ; các Tập đoàn; doanh nghiệp. Với các dải sản phẩm với phần cứng; phần mềm  quản lý: VCM (Video content management);  Phần mềm lưu trữ RealPresence Capture series; RealPresence Media Manager phần mềm  họp từ xa cài đặt trên Laptop; mobile  hoạt động mạnh mẽ mang lại sự ổn định và khả năng kết nối dễ dàng; thuận tiện.
					.panel__list
						.row
							-for(i=1; i<5; i++)
								.col-md-3.col-12.p-0
									.item
										img(src="./assets/images/serviced/p-"+i+".png", alt="")