// ::-webkit-scrollbar-track {
// 		box-shadow      : inset 0 0 6px rgba(255, 255, 255, 0);
// 		background-color: rgb(29, 175, 240);
// 	}
	
// 	::-webkit-scrollbar {
// 		width           : 5px;
// 		height          : 5px;
// 		background-color: rgb(29, 175, 240);
// 	}
	
// 	::-webkit-scrollbar-thumb {
// 		border-radius   : 2.5px;
// 		box-shadow      : inset 0 0 6px rgba(255, 255, 255, 0);
// 		background-color: #fff;
// 	}
body {
	overflow-x: hidden;

	&.disabled {
		overflow: hidden;
	}
}

input,
select,
textarea {
	&.input-validation-error {
		color: red !important;
		border: 1px solid red !important;
		transition: .3s all ease-in-out;

		&::placeholder {
			color: red !important;
		}
	}
}
	.container{
		max-width: 1260px !important;
	}
.field-validation-error {
	display: inline-block;
	margin: .5rem 0;
	font-size: 12px;
	color: red;
}

.tab-container {
	.list-tab {
		.item {
			cursor: pointer;

			&.active {
				color: $main-color;
			}
		}
	}

	.tab-content {
		.content {
			display: none;
			opacity: 0;
			transition: all .3s cubic-bezier(.2, .5, .5, .8);

			&.show {
				opacity: 1;
			}
		}
	}
}

.ofcv {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	font-family: 'object-fit: cover, object-position: center';
	background-size: cover;
}

.ofct {
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
	font-family: 'object-fit: contain, object-position: center';
	background-size: contain;
}

.blur-up {
	filter: blur(10px);
	transition: filter 1s;

	&.lazy-loaded {
		filter: blur(0);
	}
}

.clearfix {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

.lcl {
	overflow: hidden;
	display: -webkit-box;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;

	&-1 {
		-webkit-line-clamp: 1;
	}

	&-2 {
		-webkit-line-clamp: 2;
	}

	&-3 {
		-webkit-line-clamp: 3;
	}
	&-4 {
		-webkit-line-clamp: 4;
	}
}
.block-section{
	margin-left: auto;
	padding: 20px 0;
	@media (min-width: 600px){
		padding: 30px 0;
	}
	@media (min-width: 768px){
		padding: 35px 0;
	}
	@media (min-width: 1025px){
		padding: 40px 0;
	}
	@media (min-width: 1200px){
		padding: 50px 0;
	}
	@media (min-width: 1438px){
		padding: 70px 0;
	}

}
.block__title {
	padding-top: 0;
	margin-bottom: 15px;
	h3{
		font-size: 40px;
		font-family: "Barlow";
		color: rgb(15, 105, 171);
		font-weight: bold;
		@media(max-width: 1025px){
			font-size: 20px;
		}
	}
}
@media(max-width: 991.98px){
	.swiper-button-next,
	.swiper-button-prev{
		display: none;
	}
}
.swiper-button-next{
	position: absolute;
	right: -60px;
	top: 50%;
	width: 40px;
	height: 40px;
	border: solid 1px #999999;
	transform: translateY(-3%);
	background-image: none;
	&::after{
		top: 0;
		left: 0;
		position: absolute;
		width: 100%;
		height: 100%;
		content: '\f105';
		font-family: "FontAwesome";
		font-size: 30px;
		font-weight: 400;
		color: #999999;
		text-align: center;
		transition: .4s all ease-in-out;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	@media(min-width: 1024px){
		&:hover{
			&::after{
				background-color: rgba(15,105,171,0.8);
				color: #fff;
				border: none;
			}
		}
	}
}
.swiper-button-prev{
	position: absolute;
	left: -60px;
	top: 50%;
	width: 40px;
	height: 40px;
	border: solid 1px #999999;
	transform: translateY(-3%);
	background-image: none;
	&::after{
		top: 0;
		left: 0;
		position: absolute;
		width: 100%;
		height: 100%;
		content: '\f104';
		font-family: 'FontAwesome';
		font-size: 30px;
		color: #999999;
		text-align: center;
		transition: .4s all ease-in-out;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	@media(min-width: 1024px){
		&:hover{
			&::after{
				background-color: rgba(15,105,171,0.8);
				color: #fff;
				border: none;
			}
		}
	}
}
.bg-while{
	background-color: #fff;
}
.logo-block-slide{
	position: relative;

	.logo__image{
		border: solid 1px transparent;
		border-radius: 50%;
		background-color: rgb(255, 255, 255);
		box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.05);
		width: 178px;
		height: 178px;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: .3s all ease-in-out;
		margin: 0 auto;
		cursor: pointer;
		@media(min-width: 1024px){
			&:hover{
				border: solid 1px rgb(118, 198, 239);
			}
		}
		@media(max-width: 768.98px){
			width: 100%;
			border-radius: 0;
		}
	}
	.swiper-button-next{
		&:hover{
			&::after{
				color: $main-color;
				background-color: #fff;
			}
		}
	}
	.swiper-button-prev{
		&:hover{
			&::after{
				color: $main-color;
				background-color: #fff;
			}
		}
	}
}

.item{
	max-width: 390px;
	margin-bottom: 30px;
	.item__image{
		overflow: hidden;
		cursor: pointer;
		position: relative;
		height: 225px;
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			-webkit-transform: scale(1.2);
			transform: scale(1.2);
			-webkit-transition: .3s ease-in-out;
			transition: .3s ease-in-out;
		}
		.item__title{
			display: flex;
			align-items: center;
			position: absolute;
			bottom: 0;
			left: 0;
			background-color: rgba($color: $main-color, $alpha: 0.8);
			width: 100%;
			height: 70px;
			overflow: hidden;
			z-index: 2;
			padding: 10px 20px;
			transition: .3s all ease-in-out;
			a{
				font-size: 18px;
				font-family: "Barlow";
				color: rgb(255, 255, 255);
				font-weight: 600;
				text-align: left;
				text-decoration: none;
				transition: .3s all ease-in-out;
				overflow: hidden;
				display: -webkit-box;
				text-overflow: ellipsis;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 2;
			}
		}
	}
	@media (min-width: 991.98px) {
		&:hover {
			.item__image {
				img {
					-webkit-transform: scale(1.1);
					transform: scale(1.1);
				}
				.item__title{
					background-color: rgba($color: #fff, $alpha: 0.8);
					a{
						color: $main-color;
					}
				}
			}
		}
	}
	.item__description{
		background-color: rgb(255, 255, 255);
		box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.07);
		width: 100%;
		padding: 20px;
		.desc{
			max-height: 60px;
			overflow: hidden;
		}
		p{
			font-size: 16px;
			font-family: "Barlow";
			color: rgb(102, 102, 102);
		}
		.read-more{
			position: relative;
			font-size: 14px;
			font-family: "Barlow";
			color: rgb(2, 103, 177);
			&::after{
				position: absolute;
				content: 'east';
				font-size: 14px;
				font-family: "Material Icons";
				color: rgb(2, 103, 177);
				right: -20px;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
	@media(max-width: 991.98px){
		margin-bottom: 15px;
		max-width: 100%;
		.item__image{
			.item__title{
				padding: 10px;
				a{
					font-size: 14px;
				}
			}
		}
		.item__description{
			padding: 10px;
			p{
				margin-bottom: 10px;
			}
		}
	}
}
.pages{
	margin-left: auto;
	width: 100%;
	.modulepager{
		display: flex;
		align-items: center;
		justify-content: center;
		.pagination{
			padding: 0;
			list-style: none;
			li{
				border: solid 1px rgb(2, 103, 177);
				background-color: rgb(255, 255, 255);
				width: 38px;
				height: 38px;
				margin-right: 20px;
				display: flex;
				align-items: center;
				justify-content: center;
				cursor: pointer;
				transition: ease-in-out all .3s;
				a{
					font-size: 18px;
					color: rgb(2, 103, 177);
					text-decoration: none;
				}
				&:hover{
					background-color: $main-color;
					a{
						color: #fff;
					}
				}
			}
		}
	}
}
.tab-panels {
	ul {
		margin-bottom: 3px;;
		padding: 0;
		list-style: none;
		li {
			background-color: rgb(255, 255, 255);
			width: 150px;
			display: inline-block;
			padding: 7px;
			cursor: pointer;
			font-size: 18px;
			font-family: "Barlow";
			color: rgb(0, 101, 179);
			text-align: center;
			&:hover {
				background: rgba($color: $main-color, $alpha: .5);
			}
			@media(max-width: 991.98px){
				width: auto;
			}
		}

		.active {
			background: $main-color;
			color: #fff;
		}
	}

	.panel {
		background: #fff;
		padding: 45px 30px;
		display: none;
		.panel__title{
			p{
				font-size: 18px;
				font-family: "Barlow";
				color: rgb(51, 51, 51);
				font-weight: bold;
			}
		}
		.panel__slide{
			position: relative;
			.panel-slide{
				max-width: 1020px;
				margin: 40px auto;
				.panel__img{
					border: solid 1px rgb(234, 234, 234);
					background-color: rgb(255, 255, 255);
					height: 200px;
					display: flex;
					align-items: center;
					text-align: center;
					justify-content: center;
				}
				@media(max-width: 991.98px){
					max-width: 100%;
					.panel__img{
						max-width: 100%;
					}
				}
			}
			.swiper-button-next{
				right: 30px;
			}
			.swiper-button-prev{
				left: 30px;
			}
		}
		.panel__desc{
			max-width: 1020px;
			margin: 0 auto;
			padding-bottom: 50px;
			text-align: center;
			p{
				font-size: 16px;
				font-family: "Barlow";
				color: rgb(51, 51, 51);
			}
			ul{
				padding: 0;
				list-style: none;
				li{
					width: 100%;
					display: flex;
					margin-bottom: 16px;
					padding: 0;
					p{
						font-size: 16px;
						color: rgb(51, 51, 51);
						font-weight: 600;
					}
					span{
						font-size: 16px;
						color: rgb(51, 51, 51);
					}
				}
			}
		}
		.panel__list{
			max-width: 1020px;
			margin: 0 auto;
			padding: 0 10px;
			.item{
				border: solid 1px rgb(234, 234, 234);
				height: 255px;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 0;
			}
		}
		@media(max-width: 991.98px){
			padding: 15px;
			.panel__slide{
				.panel-slide{
					max-width: 100%;
					margin: 10px auto;
				}
			}
			.panel__desc{
				max-width: 100%;
				text-align: justify;
				padding-bottom: 10px;
				p{
					font-size: 14px;
				}
			}
		}
		&.active {
			display: block;
		}
	}
}
.block__btn{
	width: 100%;
}
.block__banner{
	margin-left: auto;
	width: 100%;
}
.bg-main{
	background-color: $main-color;
}
.color-while{
	color: #fff;
}
.block__filter {
	position: relative;
	width: 100%;
	height: 50px;
	background-color: rgb(255, 255, 255);

	.nav {
		align-items: center;

		.nav-item {
				margin-left: auto;

			.form-group {
				display: flex;
				align-items: center;
				margin-bottom: 0;
				height: 100%;
				span{
					font-weight: 700;
					font-size: 16px;
				}
				label{
					padding-left: 7px;
				}
				.form-control {
					label{
						padding-left: 10px;
					}
					
					[type="radio"]:checked,
					[type="radio"]:not(:checked) {
						position: absolute;
						right: -20px;
					}

					[type="radio"]:checked+label,
					[type="radio"]:not(:checked)+label {
						position: relative;
						padding-left: 28px;
						cursor: pointer;
						line-height: 20px;
						display: inline-block;
						color: #666;
					}

					[type="radio"]:checked+label:before,
					[type="radio"]:not(:checked)+label:before {
						content: '';
						position: absolute;
						left: 0;
						top: 0;
						width: 18px;
						height: 18px;
						border: 1px solid #ddd;
						border-radius: 100%;
						background: #fff;
					}

					[type="radio"]:checked+label:after,
					[type="radio"]:not(:checked)+label:after {
						content: '';
						width: 12px;
						height: 12px;
						position: absolute;
						top: 4px;
						left: 4px;
						border-radius: 100%;
						-webkit-transition: all 0.2s ease;
						transition: all 0.2s ease;
					}

					[type="radio"]:not(:checked)+label:after {
						opacity: 0;
						-webkit-transform: scale(0);
						transform: scale(0);
					}

				}
			}
		}
	}
}
.nice-select {
	-webkit-tap-highlight-color: transparent;
	border-bottom: dashed 2px rgba($color: #fff, $alpha: .5);
	box-sizing: border-box;
	clear: both;
	cursor: pointer;
	display: block;
	float: left;
	height: 40px;
	line-height: 40px;
	outline: none;
	margin-left: 10px;
	padding-right: 30px;
	position: relative;
	text-align: left !important;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	white-space: nowrap;
	width: 350px;
	&:after {
		content: url('../assets/icons/down.png');
		display: block;
		pointer-events: none;
		position: absolute;
		right: 0;
		top: 0;
		transform: translateY(-50%);
		transform: rotate(0deg);
		transition: all 0.15s ease-in-out;
	}

	&.open {
		&:after {
			transform: rotate(180deg);
		}

		.list {
			opacity: 1;
			pointer-events: auto;
			transform: scale(1) translateY(0);
		}
	}

	.list {
		width: 100%;
		background-color: #fff;
		border-radius: 0px;
		box-shadow: 0 0 0 1px rgb(15, 105, 171);
		box-sizing: border-box;
		margin-top: 0px;
		opacity: 0;
		overflow: hidden;
		padding: 0;
		pointer-events: none;
		position: absolute;
		top: 100%;
		left: 0;
		-webkit-transform-origin: 50% 0;
		-ms-transform-origin: 50% 0;
		transform-origin: 50% 0;
		-webkit-transform: scale(0.75) translateY(-21px);
		-ms-transform: scale(0.75) translateY(-21px);
		transform: scale(0.75) translateY(-21px);
		-webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25),
			opacity 0.15s ease-out;
		transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25),
			opacity 0.15s ease-out;
		z-index: 9;

		&:hover .option:not(:hover) {
			background-color: transparent !important;
		}
	}

	.option {
		cursor: pointer;
		font-weight: 400;
		list-style: none;
		outline: none;
		padding-left: 18px;
		padding-right: 29px;
		text-align: left;
		-webkit-transition: all 0.2s;
		transition: all 0.2s;

		&.selected {
			font-weight: bold;
			color: rgb(15, 105, 171);

			&.focus {
				font-weight: bold;
				color: rgb(15, 105, 171);
			}
		}

		&:hover {
			background-color: rgba($color: #0f69ab, $alpha: .5);
			color: #fff !important;

			&.selected,
			&.focus {
				background-color: rgba($color: #0f69ab, $alpha: .5);
				color: #fff !important;
			}
		}
	}
}

.no-csspointerevents .nice-select {
	.list {
		display: none;
	}

	&.open .list {
		display: block;
	}
}
.acc {
	width: 100%;

	.acc__card {
		position: relative;
		border: solid 1px rgb(235, 235, 235);
		background-color: rgb(255, 255, 255);
	}

	.acc__title {
		a{
			font-size: 18px;
			font-family: "Barlow";
			color: rgb(51, 51, 51);
			text-decoration: none;
		}
		cursor: pointer;
		display: flex;
		align-items: center;
		padding: .3rem 1.875rem;
		position: relative;
		&::after{
			opacity: 0;
			position: absolute;
			top: 0;
			left: 0;
			content: '';
			height: 0;
			width: 5px;
			background-color: $main-color;
			transition: .3s all ease-in-out;
		}
		span{
			margin-left: auto;
			transform: rotate(0deg);
			transition: all 0.2s ease-in-out;
			padding: 5px 0;
			&.active{
				color: $main-color;
				transform: rotate(-180deg);
				transition: all 0.2s ease-in-out;
			}
		}
		&.active{
			a{
				color: $main-color;
			}
			p{
				color: $main-color;
			}
			&::after{
				height: 100%;
				opacity: 1;
				transition: all 0.3s ease-in-out;
			}
		}
	}
	.acc__panel {
		background: #fff;
		display: none;
		margin: 0;
		padding: .95rem 0;
		text-align: left;
		ul{
			list-style: none;
			li{
				padding-bottom: 20px;
				a{
					font-size: 16px;
					color: rgb(102, 102, 102);
					text-decoration: none;
					text-transform: uppercase;
					@media(min-width: 1025px){
						&:hover{
							color: $main-color;
						}
					}
				}
			}
		}
	}
}
