.tbl-detail-service1{
	padding-top: 0;
	padding-bottom: 40px;
	background-color: #f5f5f5;
	.tbl-dsv1-content{
		padding-top: 80px;
		&__image{
			width: 600px;
			height: 100%;
			overflow: hidden;
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		&__description{
			background-color: rgb(255, 255, 255);
			height: 100%;
			padding: 40px 50px;
			margin-left: -15px;
			.block__title{
				margin-bottom: 20px;
				h3{
					font-size: 24px;
					font-family: "Barlow";
					text-align: left;
					line-height: 24px;
				}
			}
			&__list{
				ul{
					list-style: none;
					max-height: 290px;
					overflow: hidden;
					padding-left: 30px;
					li{
						position: relative;
						margin-bottom: 15px;
						p{
						font-size: 18px;
						font-family: "Myriad Pro";
						color: rgb(51, 51, 51);
						}
						&::after{
							position: absolute;
							top: 0;
							left: -30px;
							font-size: 18px;
							font-family: "Material Icons";
							color: rgb(29, 175, 240);
						}
						&:nth-child(1){
							&::after{
								content: 'departure_board';
							}
						}
						&:nth-child(2){
							&::after{
								content: 'tap_and_play';
							}
						}
						&:nth-child(3){
							&::after{
								content: 'archive';
							}
						}
						&:nth-child(4){
							&::after{
								content: 'enhanced_encryption';
							}
						}
					}
				}
			}
			&__icon{
				.icon__bg{
					background-color: rgb(56, 83, 161);
					width: 35px;
					height: 20px;
					font-size: 12px;
					color: rgb(255, 255, 255);
					text-align: center;
					padding: 0 5px;
					margin-right: 10px;
					&:last-child{
						background-color: rgb(0, 167, 247);
					}
				}
			}
			@media(max-width: 991.98px){
				padding: 10px;
				.block__title{
					padding-top: 0;
				}
				.ss__list{
					ul{
						li{
						margin-bottom: 10px;
						}
					}
				}
			}
		}
		@media(max-width: 1025px){
			padding-top: 30px;
		}
	}
}
