section.block-section.tbl-home-1.wow.fadeInUp(data-wow-delay=".3s")
	.container
		.warranty-block
			.warranty__img
				img(src="./assets/images/banner/home1-banner.png", alt="")
			.warranty__discription
					.col-lg-6.col-12.ml-auto
						h3.text-center Trung tâm bảo hành và nhà phân phối độc quyền các sản phẩm của ASUS tại Việt Nam