section.block-section.section2
	.container
		.row
			.col-lg-9
				.block-about
					.block__title.text-uppercase
						h3 giới thiệu
					.block__list
						ul.block__content
							li
								h3 13+
								span Năm hoạt động
							li
								h3 100+
								span Đối tác khách hàng
							li
								h3 10000+
								span Hệ thống hải quan lắp đặt
					.block__description
						p Chúng tôi là công ty SI, được thành lập vào ngày 23 tháng 2 năm 2007. Trong nhiều năm hoạt động, chúng tôi tập trung chủ yếu vào lĩnh vực: Sản phẩm phần cứng, Phần mềm, Giải pháp công nghệ,Thiết kế phòng máy chủ, Dịch vụ IT. Luôn đảm bảo về chất lượng cũng như giúp khách hàng quản trị hiệu quả.
						ul
							li
								|+ Tác phong chuyên nghiệp
							li
								|+ Sản phẩm chất lượng
							li
								|+ Dịch vụ hậu mãi chu đáo
					.block__btn
						a.btn.btn__new.bg-while(href="")
							|về chúng tôi
			.col-lg-3.col-12
				.block-video
					ul.block__content
						li
							h3 Tác phong chuyên nghiệp. Sản phẩm chất lượng. Dịch vụ chu đáo.
						li
							p Luôn đảm bảo về chất lượng cũng như giúp khách hàng quản trị hiệu quả. Với tác phong chuyên nghiệp, Sản phẩm chất lượng, Dịch vụ hậu mãi chu đáo.
						li
							.img
								img(src="./assets/images/home/home1-video.png", alt="")