section.block-section.section3
	.container
		.block__title.text-uppercase
			h3 dòng sản phẩm
		.block__slide
			.swiper-container.product-home
				.swiper-wrapper
					-for(i=1; i<4; i++)
						.swiper-slide
							.block__img
								a(href="")
									img(src="./assets/images/home/home-pro-"+i+".png", alt="")
			.swiper-button-next.pro
			.swiper-button-prev.pro
		.block__btn
			a.btn.btn__new.bg-while(href="")
				|xem tất cả
