section.block-section.section5
	.container-fluid.p-0
		.row
			.col-lg-6.col-12.left-box
				.block__content
					.block__img
						img(src="./assets/images/home/logo-5.png", alt="")
					.block__description
						h5 Phần mềm nhận dạng biển số
						p Chúng tôi phát triển các sản phẩm và giải pháp hiệu suất cao để nhận dạng biển số trong mọi tình huống. Các sản phẩm trong quá trình phát triển liên tục được tạo ra trên OCR công nghệ của chúng tôi và các giải pháp cụ thể cho bất kỳ phân khúc thị trường nào. Các giải pháp LPR hoàn chỉnh để kiểm soát truy cập cá nhân, dân cư, an ninh đường bộ và đô thị, giao thông và các ứng dụng đặc biệt cho các hệ thống nhúng. Tín Bảo Lan là một trong những nhà phần phôi độc quyền của Vaxtor tại thị trường Việt Nam về các công nghệ nhận dạng biển số xe"
					.block__btn
						a.btn.btn__new.bg-while(href="")
							|xem chi tiết
					.vaxtor-slide
						.swiper-container.vaxtor__pro
							.swiper-wrapper
								.swiper-slide
									.img
										a(href="")
											img(src="./assets/images/home/home3-slide-1.png", alt="")
									.img__name
										a(href="")
											|VaxALPR Plugins
								.swiper-slide
									.img
										a(href="")
											img(src="./assets/images/home/home3-slide-2.png", alt="")
									.img__name
										a(href="")
											|VaxALPR PC
								.swiper-slide
									.img
										a(href="")
											img(src="./assets/images/home/home3-slide-3.png", alt="")
									.img__name
										a(href="")
											|VaxALPR Acceso
						.swiper-button-next
						.swiper-button-prev
			.col-lg-6.col-12.video__slide
				.swiper-container.nx-software
					.swiper-wrapper
						.swiper-slide
							.block__img
								img(src="./assets/images/home/home3-slide-video.png", alt="")
								.block__icon
									a(href="")
										img(src="./assets/icons/play-button.png", alt="")
						.swiper-slide
							.block__img
								img(src="./assets/images/home/home3-slide-video.png", alt="")
								.block__icon
									a(href="")
										img(src="./assets/icons/play-button.png", alt="")
						.swiper-slide
							.block__img
								img(src="./assets/images/home/home3-slide-video.png", alt="")
								.block__icon
									a(href="")
										img(src="./assets/icons/play-button.png", alt="")
						.swiper-slide
							.block__img
								img(src="./assets/images/home/home3-slide-video.png", alt="")
								.block__icon
									a(href="")
										img(src="./assets/icons/play-button.png", alt="")
					.swiper-button-next
					.swiper-button-prev
