section.block-section.tbl-home-5
	.container-fluid.p-0
		.row
			.col-lg-6.col-12.p-0
				.left-box
					.block__content
						.block__description
							.block__img
								img(src="./assets/images/home/logo-5.png", alt="")
							h5 Phần mềm nhận dạng biển số
							p Chúng tôi phát triển các sản phẩm và giải pháp hiệu suất cao để nhận dạng biển số trong mọi tình huống.
							.block__btn
								a.btn.btn__new.bg-while(href="")
									|xem chi tiết
							.vaxtor-slide
								.swiper-container.vaxtor__pro
									.swiper-wrapper
										.swiper-slide
											.img
												a(href="")
													img(src="./assets/images/home/home3-slide-1.png", alt="")
											.img__name
												a(href="")
													|VaxALPR Plugins
										.swiper-slide
											.img
												a(href="")
													img(src="./assets/images/home/home3-slide-2.png", alt="")
											.img__name
												a(href="")
													|VaxALPR PC
										.swiper-slide
											.img
												a(href="")
													img(src="./assets/images/home/home3-slide-3.png", alt="")
											.img__name
												a(href="")
													|VaxALPR Acceso
								.swiper-button-next
								.swiper-button-prev
			.col-lg-6.col-12.p-0
				.video__slide
					.swiper-container.nx-software
						.swiper-wrapper
							-for(i=1; i<5; i++)
								.swiper-slide
									.block__img
										img(src="./assets/images/home/home3-slide-video.png", alt="")
										.block__icon
											a(href="https://www.youtube.com/watch?v=2KaYyiMKYzA&t=1s")
												img(src="./assets/icons/play-button.png", alt="")
						.swiper-button-next
						.swiper-button-prev
